<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                <v-flex v-if="this.$store.getters.getRole == 2" xs12 sm12>
                    <v-select
                    v-model="add.id_spec"
                    :items="getSpecs"
                    item-text="name"
                    item-value="id"
                    label="Направление"
                    ></v-select>
                </v-flex>
                <v-flex v-else xs12 sm12>
                    <v-select
                    v-model="add.id_spec"
                    :items="getTeacherSpecAdmin.teacher_spec_admin_info"
                    item-text="name"
                    item-value="id"
                    label="Направление"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <span class="d-block">Описание</span>
                    <wysiwyg v-model="add.description" />
                </v-flex>
                <v-flex xs12 sm12>
                    <span class="d-block">Формат занятий</span>
                    <wysiwyg v-model="add.format" />
                </v-flex>
                <v-flex xs12 sm12>
                    <span class="d-block">Темы</span>
                    <wysiwyg v-model="add.themes" />
                </v-flex>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.min_mark" label="Минимальный балл" type="number"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-select
                    v-model="add.for_all"
                    :items="statuses"
                    item-text="label"
                    item-value="value"
                    label="Для кого"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    
                    <v-select
                    v-model="add.request"
                    :items="statuses2"
                    item-text="label"
                    item-value="value"
                    label="Доступность"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    
                    <v-select
                    v-model="add.potok"
                    :items="getPotoks"
                    item-text="name"
                    item-value="id"
                    multiple
                    label="Потоки"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12 style="display:table;">
                    <span class="d-block">Начало курса</span>
                    <v-date-picker v-model="add.start"></v-date-picker>
                </v-flex>
                <v-flex v-if="this.$store.getters.getRole == 2" xs12 sm12>
                    <v-select
                    v-model="add.teachers"
                    :items="teachers"
                    item-text="name"
                    item-value="id"
                    multiple
                    label="Преподаватели"
                    ></v-select>
                </v-flex>
                <v-flex v-else xs12 sm12>
                    <v-select
                    v-model="add.teachers"
                    :items="teacher_name"
                    item-text="name"
                    item-value="id"
                    multiple
                    label="Преподаватели"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    <div>
                        <croppa v-model="croppaImg" canvas-color="transparent"
                            :placeholder="'Choose an image'"
                            :accept="'image/*'"
                            :show-remove-button="true"
                            :remove-button-color="'red'"
                            :initial-position="'center'"
                            :width="300"
                            :height="150"
                            >
                            <img slot="placeholder" src="public/static/img/bg-1.jpg" />
                        </croppa>
                    </div>
                </v-flex>
                    <v-btn color="primary mt-3" xs3 sm3 @click='add_course'>Добавить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import DeleteDialog from './DeleteDialog';

export default {
    name: "AddCourse",
    props: ['add', 'statuses', 'statuses2'],
    data() {
        return {
            curr_tab: 1,
            del_row_id: 0,
            teachers: [],
            teacher_name: [{
                    name: undefined,
                    id: -1
                }],
            croppaImg: undefined,
        };
    },
    computed:{
        ...mapGetters(['getPotoks', 'getSpecs', "getTeacherSpecAdmin"]),
    },
    mounted(){
        this.get_teachers();
        this.get_teachers_specs();
        this.get_teacher_name();
    },
    methods: {
        ...mapActions(["get_teachers_specs"]),
        // get_info(){
        //     const data = new FormData()
        //     alert(this.$store.getters.getUser);
        //     data.append("token", this.$store.getters.getUser)
        //     api
        //         .post("admin/get_school_course_info", data)
        //         .then(response => {
        //             console.log(response);
        //             if(response.data.error == 0)
        //             {
        //                 console.log(response);
        //             }
        //
        //         })
        //         .catch(error => {
        //
        //         });
        // },
        get_teacher_name(){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            api
                .post("admin/main_info", data)
                .then(response => {
                    if(response.data.error == 0){
                        this.teacher_name[0].name = response.data.info.name + ' ' + response.data.info.surname;
                        this.teacher_name[0].id = response.data.info.id;
                    }
                })
                .catch(error => {

            });
        },
        get_teachers()
            {
                const data = new FormData();
                data.append("token", this.$store.getters.getUser);
                api 
                .post("admin/get_teachers", data) 
                .then(response => { 
                        if(response.data.error == 0)
                        {
                            
                            this.teachers = response.data.teachers;
                        }
                        if(response.data.error == 4)
                        {
                            this.$store.dispatch("logout");
                        }
                        if(response.data.error == 5)
                        {
                            
                            this.$router.push("/");
                        }
                    }) 
                    .catch(error => { 
        
                });

            },
            decline(){
                this.$emit("decline");
            },
            add_course() {
            
                this.croppaImg.generateBlob(
                    blob => {
                        let data = new FormData()
            
                        data.append("token", this.$store.getters.getUser);
                        data.append("name", this.add.name);
                        data.append("description", this.add.description);
                        data.append("request", this.add.request);
                        data.append("start_date", this.add.start);
                        data.append("for_all", this.add.for_all);
                        data.append("id_spec", this.add.id_spec);
                        data.append('min_mark', this.add.min_mark);
                        data.append('themes', this.add.themes);
                        data.append('format', this.add.format);
                        this.add.teachers.forEach(function(element) {
                            data.append("teachers[]", element);
                        });
                        this.add.potok.forEach(function(element) {
                            data.append("potok[]", element);
                        });
                        data.append('img', blob);
                        let config = {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                        api
                            .post("admin/add_course", data, config)
                            .then(response => {
                                if (response.data.error == 0) {
                                    this.$notify({
                                        group: 'loggedIn',
                                        type: 'success',
                                        text: 'Успешно добавлено!'
                                    });
                                    this.$store.dispatch('get_courses');
                                    if (this.$store.getters.getRole == 1){
                                        this.$store.dispatch('get_teachers_specs');
                                    }
                                    this.decline()
                                }
                            })
                            .catch(error => {
                                console.log("error" + error);
                            });
            
                    },
                    'image/jpg',
                    0.8
                );
            },
        // add_course() {
        //     let data = new FormData();
        //     data.append("token", this.$store.getters.getUser);
        //     data.append("name", this.add.name);
        //     data.append("description", this.add.description);
        //     data.append("request", this.add.request);
        //     data.append("start_date", this.add.start);
        //     data.append("for_all", this.add.request);
        //     data.append("id_spec", this.add.id_spec);
        //     data.append('min_mark', this.add.min_mark);
        //     this.add.teachers.forEach(function(element) {
        //         data.append("teachers[]", element);
        //     });
        //     this.add.potok.forEach(function(element) {
        //         data.append("potok[]", element);
        //     });
        //     data.append('img', null);
        //     api
        //     .post("admin/add_course", data)
        //     .then(response => {
        //         if (response.data.error == 0) {
        //             this.$notify({
        //                 group: 'loggedIn',
        //                 type: 'success',
        //                 text: 'Успешно добавлено!'
        //             });
        //             this.$store.dispatch('get_courses');
        //             if (this.$store.getters.getRole == 1){
        //                 this.$store.dispatch('get_teachers_specs');
        //             }
        //             this.decline()
        //         }
        //     })
        //     .catch(error => {
        //         console.log("error" + error);
        //     });
        // },
    },
    components: {
        VueGoodTable,
        DeleteDialog
    }
};
</script>
