<template>
    <app-card
        heading="Курсы"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <DeleteDialog :del_row_id="del_row_id" :dialog="dialog" @cancel_dialog="dialog=false"></DeleteDialog>

        <div class="mb-2" >
            <div  class="tabs" >
            <div v-for="(tab) in tabs" :key="tab.id" @click="curr_tab = tab.id" class="mytab" :class="{'tab_active':curr_tab==tab.id}" >
                {{tab.name}}
            </div>
            </div>
        </div>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns"
        :rows="curr_rows"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'status'">
                    {{props.row.request == 0?'Открытая регистрация': 'По подтверждению' }}
                    
                </span>
                <span v-else-if="props.column.field == 'all'">
                    {{props.row.for_all == 0?'Только направлению': 'Всем' }}
                </span>
                <span v-else-if="props.column.field == 'teachers_data'">
                    {{props.row.teachers.map(e => e.name).join(", ")}}
                </span>
                <span v-else-if="props.column.field == 'potoks'">
                    {{props.row.potoks.map(e => e.name).join(", ")}}
                </span>
                <span v-else-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.id)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="potok_info(props.row.id)">
                        <i class="zmdi zmdi-eye"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import DeleteDialog from './DeleteDialog';

export default {
    name: "CoursesList",
    props: ['add'],
    data() {
        return {
            curr_tab: 1,
            del_row_id: 0,
            
            dialog: false,
            tabs: [
                {
                    name: 'Идет набор',
                    id: 1,
                },
                {
                    name: 'В процессе',
                    id: 2,
                },
                {
                    name: 'Завершенные',
                    id: 3,
                }
                
            ],
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Специальность',
                    field: 'spec_name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Дата начала',
                    field: 'start_date',
                    type: 'date',
                    dateInputFormat: 'yyyy-mm-dd',
                    dateOutputFormat: 'dd-mm-yyyy'
                
                },
                {
                    label: 'Предварительная регистрация',
                    field: 'status',
                    type: 'text',
                
                },
                {
                    label: 'Для всех',
                    field: 'all',
                    type: 'text',
                
                },
                {
                    label: 'Преподаватели',
                    field: 'teachers_data',
                    type: 'text',
                
                },
                {
                    label: 'Потоки',
                    field: 'potoks',
                    type: 'text',
                
                },
                {
                    label: 'Минимальный балл',
                    field: 'min_mark',
                    type: 'text',
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getCourses']),
        curr_rows(){
            return this.getCourses.filter(cur => cur.active == this.curr_tab);
        }
    },
    mounted(){
        this.get_courses()

    },
    methods: {
        ...mapActions(['get_courses']),
        edit(id)
        {
            this.add.description =  this.getCourses.filter(cur => cur.id == id)[0].description,
            this.add.min_mark =  this.getCourses.filter(cur => cur.id == id)[0].min_mark,
            this.add.request =  this.getCourses.filter(cur => cur.id == id)[0].request,
            this.add.for_all =  this.getCourses.filter(cur => cur.id == id)[0].for_all,
            this.add.name = this.getCourses.filter(cur => cur.id == id)[0].name,
            this.add.id_spec =  this.getCourses.filter(cur => cur.id == id)[0].id_spec,
            this.add.start =  this.getCourses.filter(cur => cur.id == id)[0].start_date,
            this.add.teachers = this.getCourses.filter(cur => cur.id == id)[0].teachers
            this.row_edit = this.getCourses.filter(cur => cur.id == id)[0].id
            this.$emit('edit_click', this.row_edit);
            this.add.img_link = this.getCourses.filter(cur => cur.id == id)[0].img_link;
        },
        potok_info(id)
        {
            this.$router.push("/course/"+id);
        },
        del(id)
        {
        
            this.del_row_id = id
            this.dialog = true
        },
    },
    components: {
        VueGoodTable,
        DeleteDialog
    }
};
</script>
