<template>
    <v-dialog
        v-model="dialog"
        max-width="290"
        >
        <v-card>
            <v-card-title class="headline">Удалить?</v-card-title>
            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog"
            >
                Нет
            </v-btn>
            <v-btn
                color="danger darken-1"
                text
                @click="delete_course"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "DeleteDialog",
    props: ['dialog', 'del_row_id'],
    data() {
        return {
            
        };
    },
    methods: {
        cancel_dialog(){
            this.$emit('cancel_dialog');
        },
        delete_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_course", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.$store.dispatch('get_courses');
                        this.cancel_dialog();
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
