<template>
    <app-card
        heading = "Заявки"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
    <AcceptAskDialog
    :dialog_ask_acc="dialog_ask_acc"
    :curr_ask_id="curr_ask_id"
    @cancel_dialog="dialog_ask_acc=false; get_project(id)"
    ></AcceptAskDialog>

    <DeleteAskDialog
    :curr_ask_id="curr_ask_id"
    :dialog_ask_dec="dialog_ask_dec"
    @cancel_dialog="dialog_ask_dec=false; get_project(id)"
    ></DeleteAskDialog>

    <EndAsksDialog
    :dialog_end_asks="dialog_end_asks"
    @cancel_dialog="dialog_end_asks=false; get_project(id)"
    ></EndAsksDialog>
    <div  class="tabs mb-3">
        <div  v-for="(spec, key) in getprojectSpecs" :key="key" @click="tab_skill = key; curr_spec_id = spec.id_project_spec" class="mytab" :class="{'tab_active':tab_skill==key}" >
            {{spec.name}}
        </div>
        <v-btn
            color="error"
            class="end_asks"
            v-if="getProject.status == 0"
            text
            @click="dialog_end_asks = true"
        >Закрыть прием заявок</v-btn>
    </div>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="column_asks"
        :rows="asks_cur"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style" style="cursor:pointer" @click="accept_ask_dialog(props.row.id)">
                        <i class="zmdi" :class="'zmdi-account-add'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="decline_ask_dialog(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>   
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import AcceptAskDialog from './StudentAskAcceptDialog';
import DeleteAskDialog from './DeleteAskDialog';
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import EndAsksDialog from './EndAsksDialog';

export default {
    name: "People",
    props: ['students'],
    components: {
        VueGoodTable, 
        AcceptAskDialog,
        DeleteAskDialog,
        EndAsksDialog,
    },
    data() {
        return {
            tab_skill: 0,
            id: this.$route.params.id,
            column_asks: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Мотивационное письмо',
                    field: 'ask',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Телефон',
                    field: 'phone',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Вконтакте',
                    field: 'vk_link',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            dialog_ask_acc: false,
            dialog_ask_dec: false,
            dialog_end_asks: false,
            curr_ask_id: 0,
        };
    },
    computed:{        
        ...mapGetters(['getprojectSpecs', 'getprojectAsks', 'getProject']),
        curr_spec_id(){
            return this.getprojectSpecs[0] ? this.getprojectSpecs[0].id_project_spec : 0;
        },
        asks_cur(){
            return  this.getprojectAsks.filter(ask => ask.id_project_spec == this.curr_spec_id);
        },
    },
    methods: {
        ...mapActions(['get_project']),
        decline_ask_dialog(id){
            this.curr_ask_id = id
            this.dialog_ask_dec = true
        },
        accept_ask_dialog(id){
            this.curr_ask_id = id
            this.dialog_ask_acc = true
        },
        
    },
};
</script>
