<template>
    <v-dialog
    v-model="dialog_student"
    max-width="290"
    >
        <v-card>
            <v-card-title class="headline">Удалить?</v-card-title>
            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog"
            >
                Нет
            </v-btn>

            <v-btn
                color="danger darken-1"
                text
                @click="delete_project"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "DeleteStudentDialog",
    props: ['dialog_student', 'del_row_id'],
    data() {
        return {
            
        };
    },
    methods: {
        cancel_dialog(){
            this.$emit('cancel_dialog');
        },
        delete_project(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_role', this.del_row_id)
            api
            .post('admin/delete_project_role', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                    this.cancel_dialog();

                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
            .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
