<template>
    <app-card
        heading = "Люди"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
        <DeleteStudentDialog
        :dialog_student="dialog_student"
        :del_row_id="del_row_id"
        @cancel_dialog="dialog_student=false; get_project_store"
        >
        </DeleteStudentDialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="column_students"
        :rows="students"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style" style="cursor:pointer" @click="edit_student_ask(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del_student(props.row.id_role)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>

        </vue-good-table>   
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import DeleteStudentDialog from './DeleteStudentDialog';

export default {
    name: "People",
    props: ['students'],
    components: {
        VueGoodTable,
        DeleteStudentDialog,
    },
    data() {
        return {
            column_students: [
                {
                    label: 'Id',
                    field: 'id_role',
                    
                },
                {
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Роль в проекте',
                    field: 'role',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            del_row_id: -1,
            dialog_student: false,
        };
    },
    computed:{        
    },
    mounted(){
    },
    methods: {
        ...mapActions(['get_specs', 'get_project']),
        edit_student_ask(id){
            this.$emit("edit", id);
        },
        del_student(id)
        {
            this.del_row_id = id
            this.dialog_student = true
        },
        get_project_store(){
            this.get_project(this.get_specs(this.$route.params.id));
        }
    },
};
</script>
