<template>
    <v-dialog
    v-model="dialog"
    max-width="290"
    >
        <v-card>
            <v-card-title class="headline">Добавить человека на курс?</v-card-title>

            

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog"
            >
                Нет
            </v-btn>

            <v-btn
                color="danger darken-1"
                text
                @click="accept_ask"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AcceptAskDialog",
    props: ['dialog', 'ask_id'],
    data() {
        return {
            new_student: {
                mail: ''
            },
        };
    },
    mounted(){
        
    },
    computed:{

    },
    methods: {
        cancel_dialog(){
            this.$emit("cancel_dialog")
        },
        accept_ask(){
            const data = new FormData()
            data.append('token', this.$store.getters.getUser);
            data.append('id_ask', this.ask_id);
            api
            .post('/admin/accept_course_ask', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно принято!'
                        });
                    this.$store.dispatch('get_asks');
                    this.cancel_dialog();

                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");
                }
            })
            .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
