<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.place" label="Место проведения"></v-text-field>
                </v-flex>
                <label class="mt-2">Материалы</label>
                <wysiwyg v-model="add.materials" />
                <label class="mt-2">Домашнее задание</label>
                <wysiwyg v-model="add.homework" />
            </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm6>
                        <span class="d-block">Дата занятия</span>
                        <v-date-picker v-model="add.date"></v-date-picker>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <span class="d-block">Время занятия</span>
                        <v-time-picker v-model="add.time" format="24hr"></v-time-picker>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm6>
                        <span class="d-block">Дедлайн (дата)</span>
                        <v-date-picker v-model="add.deadline_date"></v-date-picker>
                    </v-flex>
                    <v-flex xs12 sm6>
                        <span class="d-block">Дедлайн (время)</span>
                        <v-time-picker v-model="add.deadline_time" format="24hr"></v-time-picker>
                    </v-flex>
                </v-layout>

            <v-layout row wrap class="mt-3">
            <v-btn color="primary " @click='add_lesson'>Добавить</v-btn>
            <v-btn color="warning " @click='decline'>Отменить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteLessonDialog from './DeleteLessonDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddLesson",
    components: {
        VueGoodTable,
        DeleteLessonDialog
    },
    data() {
        return {
            tab: 1,
            dialog:false,
            delete_id:0,
            add:
            {
                name:'',
                place:'',
                date:'',
                time:'',
                homework:'',
                materials:'',
                description: '',
                deadline_date: '',
                deadline_time: ''
            },
        };
    },
    computed:{
        dates(){
            var days = []
            this.lessons.forEach(function(element) {
                var temp = element.start_time.split(' ')
                days.push(temp[0])
            });
            return days;
        },
        
        times(){
            var times = []
            this.lessons.forEach(function(element) {
                var temp = element.start_time.split(' ')
                times.push(temp[1])
            });
            return times;
        },
    },
    methods: {
        decline()
        {
            this.add.materials = '',
            this.add.homework = '',
            this.add.time = '',
            this.add.date = '',
            this.add.deadline_date = '',
            this.add.deadline_time = '',
            this.$emit("decline_add");
        },
        add_lesson(){
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id_course", this.$route.params.id)
            data.append("name", this.add.name)
            data.append("place", this.add.place)
            data.append("description", this.add.description)
            data.append("materials", this.add.materials)
            data.append("homework", this.add.homework)
            data.append("start_time", this.add.date+' ' + this.add.time)
            data.append("deadline", this.add.deadline_date + ' ' + this.add.deadline_time)
            api 
            .post("admin/add_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.$store.dispatch('get_lessons', this.$route.params.id);
                        this.decline()

                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
    },
};
</script>
