<template>
    <v-dialog
        v-model="dialog"
        max-width="400"
        >
        <v-card>
            <v-layout row wrap class="pa-4">
                <v-flex xs12 sm12>
                    <h5 style="text-align: center;">Записать на курс?</h5>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-text-field v-model="new_student.mail" label="Почта"></v-text-field>

                </v-flex>
                <v-flex xs6 sm6>
                    <v-btn
                        color="success darken-1"
                        text
                        @click="add_student_on_course"
                    >
                        Записать
                    </v-btn>
                </v-flex>
                <v-flex xs6 sm6>
                    <v-btn
                    color="primary"
                    text
                    @click="cancel_dialog"
                    >
                        Отмена
                    </v-btn>
                </v-flex>
            
            </v-layout>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddStudentDialog",
    props: ['dialog'],
    data() {
        return {
            new_student: {
                mail: ''
            },
        };
    },
    mounted(){
        
    },
    computed:{

    },
    methods: {
        cancel_dialog(){
            this.$emit("cancel_dialog")
        },
        add_student_on_course(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_course', this.$route.params.id);
            data.append('mail', this.new_student.mail);
            api
            .post('admin/add_student_on_course', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно записан!'
                    });
                    this.$store.dispatch('get_logs', this.$route.params.id);
                    this.cancel_dialog();
                }else if (response.data.error == 3){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'error',
                        text: 'Нет такого студента'
                    });
                }
                else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
