<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
        
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add_skill.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-select
                    v-model="add_skill.level"
                    :items="[{name: 'Junior', id: 1}, {name: 'Middle', id: 2}, {name: 'Senior', id: 3}]"
                    item-text="name"
                    item-value="id"
                    label="Уровень"
                    ></v-select>
                </v-flex>
            </v-layout>
            <v-layout row wrap class="mt-3">
                <v-btn color="primary" @click='addSkill'>Добавить</v-btn>
                <v-btn color="warning" @click='decline_skill'>Отменить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddSkill",
    props: ['add_skill', 'info'],
    data() {
        return {
            new_student: {
                mail: ''
            },
        };
    },
    methods: {
        decline_skill(){
            this.$emit("decline_skill")
        },
        addSkill(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append("id_course", this.$route.params.id);
            data.append("name", this.add_skill.name);
            data.append("level", this.add_skill.level);
            data.append("id_spec", this.info.id_spec);
            api
            .post('admin/add_course_skill', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно добавлено!'
                    });
                    this.$store.dispatch('get_skills', this.$route.params.id);
                    this.decline_skill();
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
