<template>
    <app-card
        heading = "Заявки"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
    >
    <AcceptAskDialog @cancel_dialog="dialog_ask_acc=false" :dialog="dialog_ask_acc" :ask_id="curr_ask_id"></AcceptAskDialog>
    <DeclineAskDialog @cancel_dialog="dialog_ask_dec=false" :dialog="dialog_ask_dec" :ask_id="curr_ask_id"></DeclineAskDialog>
    <div  style="display: table; margin-bottom: 15px;" v-if="info.active == 1">
        <v-btn
        v-if="info.active != 3"
        color="error"
        text
        @click="dialog_end_asks = true"
        class="end_asks"
        >Закрыть прием заявок</v-btn>
    </div>
    <EndAsksDialog v-if="dialog_end_asks" @cancel_dialog="dialog_end_asks = false" :dialog="dialog_end_asks"></EndAsksDialog>

        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="column_asks"
        :rows="getAsks"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style" style="cursor:pointer" @click="accept_ask_dialog(props.row.id)">
                        <i class="zmdi" :class="'zmdi-account-add'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="decline_ask_dialog(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>   
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import AcceptAskDialog from './AcceptAskDialog';
import DeclineAskDialog from './DeclineAskDialog';
import EndAsksDialog from "./EndAsksDialog";
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "Asks",
    props: ['info'],
    components: {
        VueGoodTable,
        DeclineAskDialog,
        AcceptAskDialog,
        EndAsksDialog
    },
    data() {
        return {
            dialog_end_asks: false,
            dialog_ask_dec: false,
            dialog_ask_acc: false,
            curr_ask_id: undefined,
            column_asks: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Мотивационное письмо',
                    field: 'answer',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getAsks']),
        logs_columns(){
            let result = [];
            result.push({
                label: 'Имя',
                field: 'fullname',
                type: 'text'
            });
            for (let i = 0; i < this.getLessons.length; i++){
                result.push({
                    label: `Занятие ${i + 1}`,
                    field: `${i}`,
                    type: 'text'
                })
            }
            result.push({
                label: 'Результат',
                field: 'result',
                type: 'text'
            })
            return result;
        },
        checkResult(res){
            if (res){
                if (parseInt(res.result) || res.comment){
                    return res.result;
                }else{
                    return "Не проверено";
                }
            }else{
                return 'Не отправлено';
            }
        },
    },
    methods: {
        decline_ask_dialog(id){
            this.curr_ask_id = id
            this.dialog_ask_dec = true
        },
        accept_ask_dialog(id){
            this.curr_ask_id = id
            this.dialog_ask_acc = true
        },
        getResultLog(logs){
            let result = 0;
            logs.forEach(log => {
                result += parseInt(log.result);
            });
            return result;
        }
    },
};
</script>
