<template>

    <app-card
    heading="Посещаемость"
    :fullBlock="true"
    customClasses=" mt-3"
    colClasses="xl12 lg12 md12 sm12 xs12">

        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="logs_columns"
        :rows="getLogs"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице'}"
        :pagination-options="{
            enabled: true,
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page',
            allLabel: 'Все'}"
        >

            <template slot="table-row" slot-scope="props">
                <router-link v-if="props.column.field == 'fullname'" style="color: #5d92f4; cursor: pointer;" :to="'/student/profile/'+props.row.id">
                    {{props.row.fullname}}
                </router-link>
                <span v-else>
                    <input type="checkbox" id="checkbox" v-model="create_visits[props.column.field][props.row.id]"
                           name="checkbox" @change="getStatus($event, props.column.field, props.row.id)">
                    <label for="checkbox"></label>
                </span>
            </template>

        </vue-good-table>
    </app-card>
</template>



<script>
    import api from "Api";
    import 'vue-good-table/dist/vue-good-table.css'
    import DeleteLessonDialog from './DeleteLessonDialog';

    import { VueGoodTable } from 'vue-good-table';
    import { mapActions, mapGetters } from 'vuex';

    export default {
        name: "Attendance",
        components: {
            VueGoodTable,
            DeleteLessonDialog
        },
        data() {
            return {
            };
        },
        computed:{
            ...mapGetters(['getLessons', 'getLogs']),
            logs_columns(){
                let result = [];
                result.push({
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text'
                });
                for (let i = 0; i < this.getLessons.length; i++){
                    result.push({
                        label: `Занятие ${i + 1}`,
                        field: `${this.getLessons[i].id}`,
                        type: 'text'
                    })
                }
                return result;
            },
            create_visits(){
                let visits = {};
                    for(let i = 0; i < this.getLessons.length; i++){
                        let col = this.getLessons[i].id;
                        visits[col] = {};
                        for (let j = 0; j < this.getLogs.length; j++){
                            let row = this.getLogs[j].id;
                            let is_visited = this.getLogs[j].visit.filter(function(item){
                                return item.id_lesson == col;
                            });
                            if (is_visited.length == 0 || is_visited[0].visited == "0")
                                visits[col][row] = false;
                            else
                                visits[col][row] = true;
                        }
                    }
                return visits;
            }
        },
        methods: {
            set_visit(id_lesson, id_user, visited)
            {
                const data = new FormData();
                data.append("token", this.$store.getters.getUser);
                data.append("id_lesson", id_lesson);
                data.append("id_user", id_user);
                data.append("visited", visited);
                api
                    .post("admin/set_lesson_visit", data)
                    .then(response => {
                        if(response.data.error == 0)
                        {
                            console.log('success');
                        }
                    })
                    .catch(error => {

                    });
            },
            getStatus(e, id_lesson, id_student){
                if(e.target.checked)
                    this.set_visit(id_lesson, id_student, 1);
                else
                    this.set_visit(id_lesson, id_student, 0);
            },
        },
    };
</script>

<style scoped>

</style>