<template>
    <app-card
        :heading="info.name"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
    >
        <div class="tabs">
            <div @click="change_tab(1)" class="mytab" :class="{'tab_active':tab==1}" >
                Занятия
            </div>
            <div @click="change_tab(2)" class="mytab" :class="{'tab_active':tab==2}" >
                Домашние задания
            </div>
            <div  @click="change_tab(3)" class="mytab" :class="{'tab_active':tab==3}">
                Ведомость
            </div>
            <div  @click="change_tab(4)" class="mytab" :class="{'tab_active':tab==4}">
                Заявки
            </div>
            <div  @click="change_tab(5)" class="mytab" :class="{'tab_active':tab==5}">
                Скиллы
            </div>
            <div  @click="change_tab(6)" class="mytab" :class="{'tab_active':tab==6}">
                Посещаемость
            </div>
            <div class="button_container_end">
                <v-btn
                v-if="info.active != 3"
                color="error"
                text
                @click="end_click"
                class="end_course"
                >завершить курс</v-btn>
                <v-btn
                color="warning"
                text
                @click="add_click"
                >записать на курс</v-btn>
            </div>
        </div>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "CourseTabs",
    props: ['info'],
    data() {
        return {
            tab: 1
        };
    },
    methods: {
        add_click(){
            this.$emit("add_click");
        },
        end_click(){
            this.$emit("end_click");
        },
        change_tab(val){
            this.tab = val;
            this.$emit("change_tab", val);
        }
    },
    watch: {
        '$route' (to, from) {
            this.tab = 1;
        }
    },
    components: {
        VueGoodTable
    }
};
</script>
