<template>
    <v-dialog
    v-model="dialog"
    max-width="290">
        <v-card>
            <v-card-title class="headline">Удалить студента?</v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                color="primary"
                text
                @click="cancel_dialog">
                    Нет
                </v-btn>
                <v-btn
                color="danger darken-1"
                text
                @click="delete_student">
                    Да
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import api from "Api";
    import 'vue-good-table/dist/vue-good-table.css'

    export default {
        name: "DeleteStudentDialog",
        props: ["dialog", 'id_user'],
        methods: {
            cancel_dialog(){
                this.$emit("cancel_dialog")
            },
            delete_student(){
                const data = new FormData();
                data.append("token", this.$store.getters.getUser);
                data.append("id_course", this.$route.params.id);
                data.append("id_user", this.id_user);
                console.log(this.user_id);
                api
                    .post("admin/delete_user_from_course", data)
                    .then(response => {
                        if(response.data.error == 0)
                        {
                            console.log('deleted');
                            this.cancel_dialog();
                            console.log(this.$route.params.id);
                            this.$store.dispatch('get_logs', this.$route.params.id);
                        }
                    })
                    .catch(error => {

                    });
            },
        }
    }


</script>

<style scoped>

</style>