<template>
    <v-dialog
        v-model="dialog"
        max-width="290"
        >
        <v-card>
            <v-card-title class="headline">Удалить?</v-card-title>

            

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog"
            >
                Нет
            </v-btn>

            <v-btn
                color="danger darken-1"
                text
                @click="delete_2"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "DeleteLessonDialog",
    props: ['dialog', 'delete_id'],
    data() {
        return {
            
        };
    },
    mounted(){
        
    },
    computed:{

    },
    methods: {
        cancel_dialog(){
            this.$emit("cancel_dialog")
        },
        delete_2()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.delete_id)

            api 
            .post("admin/delete_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.cancel_dialog();
                        this.$store.dispatch('get_lessons', this.$route.params.id);

                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
