<template>
    <app-card
        heading="Редактировать"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add_skill.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-select
                    v-model="add_skill.level"
                    :items="[{name: 'Junior', id: '1'}, {name: 'Middle', id: '2'}, {name: 'Senior', id: '3'}]"
                    item-text="name"
                    item-value="id"
                    label="Направление"
                    ></v-select>
                </v-flex>
                <v-btn color="primary mt-3" @click='editSkill'>Редактировать</v-btn>
                <v-btn color="warning mt-3" @click='decline_skill'>Отменить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddSkill",
    props: ['add_skill', 'info', 'edit_row_skill'],
    data() {
        return {
            new_student: {
                mail: ''
            },
        };
    },
    computed:{
        ...mapGetters(['getSkills'])
    },
    methods: {
        decline_skill(){
            this.$emit("decline_skill")
        },
        editSkill(){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            data.append('id_skill', this.getSkills[this.edit_row_skill].id);
            data.append("name", this.add_skill.name);
            data.append("level", this.add_skill.level);
            api
            .post('admin/edit_course_skill', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно обновлено!'
                    });
                    this.$store.dispatch('get_skills', this.$route.params.id);
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");
                }
            })
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
