<template>
    <v-dialog
    v-model="dialog"
    max-width="290"
    >
        <v-card>
            <v-card-title class="headline">Завершить курс?</v-card-title>

            

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog"
            >
                Нет
            </v-btn>

            <v-btn
                color="danger darken-1"
                text
                @click="endCourse"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
        
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "EndCourseDialog",
    props: ['dialog'],
    data() {
        return {
            new_student: {
                mail: ''
            },
        };
    },
    methods: {
        cancel_dialog(){
            this.$emit("cancel_dialog")
        },
        endCourse(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_course', this.$route.params.id);
            api
            .post('admin/end_course', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно завершен!'
                    });
                    this.$router.push('/courses');
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
