<template>
    <app-card
        heading="Домашние задания"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <div  class="tabs mb-3">
            <div  v-for="(lesson, key) in getHomeWorks" :key="key" @click="tab_homeworks = key" class="mytab" :class="{'tab_active':tab_homeworks==key}" >
                Занятия {{key + 1}}
            </div>
        </div>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_homeworks"
        :rows="getHomeWorks[tab_homeworks] ? getHomeWorks[tab_homeworks].homeworks : []"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style ml-3" style="cursor:pointer" @click="homework_info(props.row.id)">
                        <i class="zmdi zmdi-eye"  ></i>
                    </span>
                </span>
                <span v-else-if="props.column.field == 'result'">
                    {{parseInt(props.row.result) || props.row.comment ? props.row.result : 'Не проверено'}}
                </span>
                <span v-else-if="props.column.field == 'fullname'">
                    <div :class="[check_deadline(props.formattedRow[props.column.field], tab_homeworks) ? false : 'new-color']">
                        {{props.formattedRow[props.column.field]}}
                    </div>
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteLessonDialog from './DeleteLessonDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "HomeWorks",
    props: ['homeworks'],
    components: {
        VueGoodTable,
        DeleteLessonDialog
    },
    data() {
        return {
            tab_homeworks: 0,
            columns_homeworks: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Имя ученика',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Результат',
                    field: 'result',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getHomeWorks'])
    },
    methods: {
        check_deadline(name, id){
            let hw = this.getHomeWorks[id].homeworks.filter(item => item.fullname == name);
            if(this.getHomeWorks[id].deadline != "0000-00-00 00:00:00" && hw[0].date != "0000-00-00 00:00:00"){
                if (new Date(hw[0].date.split(' ').join('T')) - new Date(this.getHomeWorks[id].deadline.split(' ').join('T')) >= 0)
                    return false;
            }
            return true;
        },
        homework_info(id){
            this.$router.push('/course/'+this.$route.params.id+'/homework/'+id);
        },
    },
};
</script>
<style>
    .new-color{
        color: red;
    }
</style>
