<template>
    <app-card
        heading = "Занятия"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
    >
        <DeleteLessonDialog @cancel_dialog="dialog=false" :delete_id="delete_id" :dialog="dialog"></DeleteLessonDialog>    
        <v-expansion-panel
        expand
        >
            <v-expansion-panel-content
                v-for="(item, i) in lessons"
                :key="i"
            >
                <template v-slot:header>
                    <div>Занятие {{i + 1}}: {{item.name}}</div>
                    <br>
                    <div></div>
                </template>
                <v-card>
                <v-card-text class="">
                    <h3>Материалы</h3>
                    <v-flex xs12 sm12>
                    <v-text-field v-model="item.name" label="Название"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                        <v-text-field v-model="item.place" label="Место проведения"></v-text-field>
                    </v-flex>
                    <wysiwyg v-model="item['materials']" />
                    <h3 :class="[calc_date(deadline_dates[i], deadline_times[i]) ? 'mt-1' : 'new-color mt-1']">Домашнее задание</h3>
                    <wysiwyg v-model="item['homework']" />
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <span class="d-block">Дата занятия</span>
                            <v-date-picker v-model="dates[i]"></v-date-picker>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <span class="d-block">Время занятия</span>
                            <v-time-picker v-model="times[i]" format="24hr"></v-time-picker>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <span class="d-block">Дедлайн (дата)</span>
                            <v-date-picker v-model="deadline_dates[i]"></v-date-picker>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <span class="d-block">Дедлайн (время)</span>
                            <v-time-picker v-model="deadline_times[i]" format="24hr"></v-time-picker>
                        </v-flex>
                    </v-layout>



                    <v-btn
                    color="primary"
                    text
                    @click="save(i)"
                    class="mt-2"
                    >Изменить</v-btn>
                    <v-btn
                        color="danger"
                        text
                        @click="delete_1(item['id'])"
                        class=""
                    >Удалить</v-btn>
                
                </v-card-text>
                </v-card>
            </v-expansion-panel-content>
        </v-expansion-panel>
        <v-btn
            color="primary"
            text
            @click="add_click"
            class="mt-4 mx-0"
        >Добавить</v-btn>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteLessonDialog from './DeleteLessonDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "LessonsList",
    props: ['lessons'],
    components: {
        VueGoodTable,
        DeleteLessonDialog
    },
    data() {
        return {
            tab: 1,
            dialog:false,
            delete_id:0,

        };
    },
    computed:{
        dates(){
            var days = []
            this.lessons.forEach(function(element) {
                var temp = element.start_time.split(' ')
                days.push(temp[0])
            });
            return days;
        },
        
        times(){
            var times = []
            this.lessons.forEach(function(element) {
                var temp = element.start_time.split(' ')
                times.push(temp[1])
            });
            return times;
        },

        deadline_dates(){
            var d_days = []
            this.lessons.forEach(function(element) {
                var temp = element.deadline.split(' ');
                let str_new_date;
                if (temp[0] == '0000-00-00'){
                    let new_date = new Date();
                    str_new_date = new_date.getFullYear();
                    if (new_date.getMonth().toString().length == 2)
                        str_new_date = str_new_date + '-' + (new_date.getMonth() + 1).toString();
                    else
                        str_new_date = str_new_date + '-0' + (new_date.getMonth() + 1).toString();
                    if (new_date.getDate().toString().length == 2)
                        str_new_date = str_new_date + '-' + new_date.getDate();
                    else
                        str_new_date = str_new_date + '-0' + new_date.getDate();
                    d_days.push(str_new_date);
                }
                else
                    d_days.push(temp[0])
            });
            return d_days;
        },

        deadline_times(){
            var d_times = []
            this.lessons.forEach(function(element) {
                var temp = element.deadline.split(' ')
                d_times.push(temp[1])
            });
            return d_times;
        },
    },
    methods: {
        calc_date(item1, item2){
            let new_date = new Date();
            if(item1 != '0000-00-00' && item2 != '00:00:00')
                if (new_date - new Date(item1 + 'T' + item2) >= 0)
                    return false;
            return true;
        },
        click_save(les){
            this.$emit("click_save", les);
        },
        delete_1(i)
        {
            this.delete_id = i
            this.dialog = true
        },
        add_click(){
            this.$emit("add_click");
        },
        save(i)
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.lessons[i].id)
            data.append("name", this.lessons[i].name)
            data.append("place", this.lessons[i].place)
            data.append("materials", this.lessons[i].materials)
            data.append("homework", this.lessons[i].homework)
            data.append("description", this.lessons[i].description)
            data.append("start_time", this.dates[i]+' ' + this.times[i])
            data.append("deadline", this.deadline_dates[i]+' ' + this.deadline_times[i])
            api
            .post("admin/edit_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
    }
};
</script>
<style>
    .new-color{
        color: red;
    }
</style>