<template>

    <app-card
        heading="Ведомость"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="logs_columns"
        :rows="getLogs"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">

                <router-link v-if="props.column.field == 'fullname'" style="color: #5d92f4; cursor: pointer;" :to="'/student/profile/'+props.row.id">
<!--                <span v-if="props.column.field == 'fullname'">-->
                    {{props.row.fullname}}
<!--                </span>-->
                </router-link>
                <span v-else-if="props.column.field == 'result'">
                    {{getResultLog(props.row.results)}}
                </span>
                <span v-else-if="props.column.field == 'delete_student'">
                    <button @click="is_deleting(props.row.id)">&#128465;</button>
                </span>
                <span v-else>
                    {{checkResult(props.row.results[parseInt(props.column.field)])}}
                </span>
            </template>

        </vue-good-table>

        <DeleteStudentDialog v-if="deletion" @cancel_dialog="deletion = false, user_id = 0" :dialog="deletion" :id_user="user_id"></DeleteStudentDialog>
<!--        <div v-if="deletion" class="delete">-->
<!--            <div class="delete-text">Удалить студента?</div>-->
<!--            <div class="btn-group">-->
<!--                <button type="submit" class="delete-form" @click="delete_student()">Удалить</button>-->
<!--                <button type="submit" class="delete-form" @click="decline()">Не удалять</button>-->
<!--            </div>-->
<!--        </div>-->
    </app-card>

</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteLessonDialog from './DeleteLessonDialog';
import DeleteStudentDialog from "./DeleteStudentDialog";

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "Logs",
    props: ['homeworks'],
    components: {
        VueGoodTable,
        DeleteLessonDialog,
        DeleteStudentDialog
    },
    data() {
        return {
            tab_homeworks: 0,
            deletion: false,
            user_id: 0
        };
    },
    computed:{
        ...mapGetters(['getLessons', 'getLogs']),
        logs_columns(){
            let result = [];
            result.push({
                label: 'Имя',
                field: 'fullname',
                type: 'text'
            });
            for (let i = 0; i < this.getLessons.length; i++){
                result.push({
                    label: `Занятие ${i + 1}`,
                    field: `${i}`,
                    type: 'text'
                })
            }
            result.push({
                label: 'Результат',
                field: 'result',
                type: 'text'
            });
            result.push({
                label: 'Удалить',
                field: 'delete_student'
            })
            return result;
        },
    },
    methods: {
        ...mapActions(['get_logs']),
        is_deleting(user_id){
            this.deletion = true;
            this.user_id = user_id;
        },
        checkResult(res){
            if (res){
                if (parseInt(res.result) || res.comment){
                    return res.result;
                }else{
                    return "Не проверено";
                }
            }else{
                return 'Не отправлено';
            }
        },
        getResultLog(logs){
            let result = 0;
            logs.forEach(log => {
                result += parseInt(log.result);
            });
            return result;
        }
    }
};
</script>

<style>
    .delete{
        z-index: 10;
        padding: 20px 15px;
        background-color: #ffffff;
        box-shadow: 0 0 10px #2e3344;
        position: absolute;
        top: 10px;
        left: calc(47% - 125px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .delete-text{
        color: #1D2433 !important;
        font-size: 20px !important;
    }
    .delete-form{
        padding: 10px 0;
        width: 110px;
        color: white;
        background-color: #00CED1;
        margin: 15px 5px 0 5px;
    }
</style>