<template>
    <app-card
        heading = "Скиллы"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
    >
    <DeleteSkillDialog @cancel_dialog="dialog_skill_delete = false" :dialog="dialog_skill_delete" :id_skill="curr_skill_id"></DeleteSkillDialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_skills"
        :rows="getSkills"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style" style="cursor:pointer" @click="edit_skill(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="delete_skill(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else-if="props.column.field == 'level'">
                    {{getLevel(props.row.level)}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>

        </vue-good-table>   
        <v-btn
            color="primary"
            text
            @click="add_click"
            class="mt-4 mx-0"
        >Добавить</v-btn>          
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteSkillDialog from './DeleteSkillDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "Skills",
    props: ['add_skill'],
    components: {
        VueGoodTable,
        DeleteSkillDialog
    },
    data() {
        return {
            columns_skills: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Уровень',
                    field: 'level',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            curr_skill_id: -1,
            dialog_skill_delete: false,

        };
    },
    computed:{
        ...mapGetters(['getSkills']),
        
    },
    methods: {
        getLevel(level){
            if (level == 1){
                return "Junior";
            } else if(level == 2){
                return "Middle";
            }else if (level == 3){
                return "Senior";
            }
        },
        delete_skill(id){
            this.curr_skill_id = id;
            this.dialog_skill_delete = true;
            
        },
        add_click(){
            this.$emit("add_click");
        },
        edit_skill(id){
            this.add_skill.name = this.getSkills[id].name;
            this.add_skill.level = this.getSkills[id].level;
            this.$emit("edit_click", id);

        },
    },
};
</script>
