<template>
    <v-dialog
        v-model="dialog_student"
        max-width="400"
        >
        <v-card>
            
            <v-layout row wrap class="pa-4">
                <v-flex xs12 sm12>
                    <h5 style="text-align: center;">Добавить в организацию?</h5>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-select
                    v-model="curr_sudent_spec"
                    :items="getSpecs"
                    item-text="name"
                    item-value="id"
                    label="Специализация студента"
                    ></v-select>
                </v-flex>
                <v-flex xs6 sm6>
                    <v-btn
                        color="success darken-1"
                        text
                        @click="add_student"
                    >
                        Добавить
                    </v-btn>
                </v-flex>
                <v-flex xs6 sm6>
                    <v-btn
                    color="primary"
                    text
                    @click="cancel_dialog"
                    >
                        Отмена
                    </v-btn>
                </v-flex>
            
            </v-layout>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AcceptStudentDialog",
    props: ['dialog_student', 'curr_student'],
    data() {
        return {
            curr_sudent_spec: -1,
            new_student: {
                mail: '',
                pass: '',
                id_spec: ''
            },
        };
    },
    computed:{
        ...mapGetters(['getSchoolCourses', 'getSpecs']),
        rows_courses_new(){
            let result = [];
            this.getSchoolCourses.forEach(course =>{
                result.push({
                    name: `${course.name} (${course.place})`,
                    id: course.id
                })
            })
            return result;
        },

    },
    methods: {
        cancel_dialog(){
            this.$emit('cancel_dialog');
        },
        add_student(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_spec', this.curr_sudent_spec);
            data.append('id_user', this.curr_student);
            api
            .post('admin/accept_student_school', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно Добавлен!'
                    });
                    this.cancel_dialog()
                    this.$store.dispatch('get_potok_students', this.$route.params.id);
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                } 
            })
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
