<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
        
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                
                <v-flex xs12 sm12>
                    
                    <v-select
                    v-model="add.spec"
                    :items="getSpecs"
                    item-text="name"
                    item-value="id"
                    label="Направление"
                    ></v-select>
                </v-flex>
                
                <v-flex xs12 sm12 v-for="(time, i) in add.times" :key="i">
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <span class="d-block">Дата занятия</span>
                            <v-date-picker v-model="add.dates[i]"></v-date-picker>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <span class="d-block">Время занятия</span>
                            <v-time-picker v-model="add.times[i]" format="24hr"></v-time-picker>
                        </v-flex>
                        <v-btn color="danger" @click='delete_lecture(i)'>Удалить Лекцию</v-btn>
                        </v-layout>
                </v-flex>
                
                <v-btn color="success" @click='add_lecture'>Добавить Лекцию</v-btn>
                <v-flex xs12 sm12>
                    
                    <v-select
                    v-model="add.teachers"
                    :items="getTeachers"
                    item-text="name"
                    item-value="id"
                    multiple
                    label="Учителя"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.place" label="Место проведения"></v-text-field>
                </v-flex>
                
                
                <v-btn color="primary " @click='add_course'>Добавить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteSpecDialog from './DeleteSpecDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddSchoolCourse",
    props: ['add'],
    data() {
        return {
            dialog_course:false,
            
        };
    },
    computed:{
        ...mapGetters(['getTeachers', 'getSpecs']),
        
    },
    mounted(){
        this.get_courses()

    },
    methods: {
        ...mapActions(['get_courses']),
        delete_lecture(i)
        {

            this.add.times.splice(i,1)
            this.add.dates.splice(i,1)
        },
        add_lecture()
        {
            this.add.times.push('')
            this.add.dates.push('')
        },
        add_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id_spec", this.add.spec)
            data.append("place", this.add.place)
            data.append("id_potok", this.$route.params.id)
            var i = 0;
            var time_arr = this.add.times
            this.add.dates.forEach(function(element) {
                data.append("time[]", element + ' ' + time_arr[i])
                i++
            });
            this.add.teachers.forEach(function(element) {
                 data.append("teacher[]", element)
            });
            api 
            .post("admin/add_course_school", data) 
            .then(response => { 

                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.$store.dispatch('get_school_courses', this.$route.params.id);
                        this.$emit('decline');
                    }
                }) 
                .catch(error => { 

            });
        },
        
    },
    components: {
        VueGoodTable,
        DeleteSpecDialog
    }
};
</script>
