<template>
    <v-dialog
        v-model="dialog_course"
        max-width="290"
        >
        <v-card>
            <v-card-title class="headline">Удалить?</v-card-title>

            <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
                color="primary"
                text
                @click="cancel_dialog "
            >
                Нет
            </v-btn>

            <v-btn
                color="danger darken-1"
                text
                @click="delete_course"
            >
                Да
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "DeleteSpecDialog",
    props: ['dialog_course', 'del_row_id'],
    data() {
        return {
            
        };
    },
    methods: {
        cancel_dialog(){
            this.$emit('cancel_dialog');
        },
        delete_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_course_school", data) 
            .then(response => {
                if(response.data.error == 0)
                {
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно удалено!'
                    });
                    this.$store.dispatch('get_school_courses', this.$route.params.id)
                    this.cancel_dialog();
                }
            }) 
            .catch(error => { 
           
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
