<template>
    <app-card
        heading="Ученики на школе"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
        <AcceptStudentDialog 
        @cancel_dialog="dialog_student=false" 
        :curr_student="curr_student"
        :dialog_student="dialog_student"
        ></AcceptStudentDialog>
        <DeleteStudentDialog 
        @cancel_dialog="dialog_student_delete=false" 
        :dialog_student_delete="dialog_student_delete"
        :curr_student="curr_student"
        ></DeleteStudentDialog>

        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_students"
        :rows="getPotokStudents"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                
                <span v-if="props.column.field == 'action'">
                    <!-- <span class="icon-style ml-3" style="cursor:pointer" @click="student_info(props.row.id)">
                        <i class="zmdi zmdi-eye"></i>
                    </span> -->
                    <span class="icon-style ml-3" style="cursor:pointer" @click="dialog_student = true; curr_student = props.row.id;">
                        <i class="zmdi zmdi-account-add"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="dialog_student_delete = true; curr_student = props.row.id;">
                        <i class="zmdi zmdi-delete"></i>
                    </span>
                    

                </span>
                <span v-if="props.column.field == 'spec'">
                    {{getSchoolSpec(props.row.school)}}
                </span>
                <span v-if="props.column.field == 'university'">
                    {{`${props.row.university} (${props.row.faculcy})`}}
                </span>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import AcceptStudentDialog from './AcceptStudentDialog';
import DeleteStudentDialog from './DeleteStudentDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AddSchoolCourse",
    props: ['add', 'row_course_edit'],
    data() {
        return {
            dialog_course:false,
            dialog_student: false,
            dialog_student_delete: false,
            curr_student: -1,
            columns_students: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text',
                    
                
                },
                {
                    label: 'email',
                    field: 'mail',
                    type: 'text',
                    
                
                },
                {
                    label: 'специальность',
                    field: 'spec',
                    type: 'text',
                },
                {
                    label: 'ВУЗ',
                    field: 'university',
                    type: 'text',
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],  
        };
    },
    computed:{
        ...mapGetters(['getPotokStudents', 'getSpecs']),
        
    },
    mounted(){
        this.get_courses()

    },
    methods: {
        ...mapActions(['get_courses']),
        getSchoolSpec(school){
            let result = '';
            if (school.length == 0){
                return 'Нет специальностей';
            }
            if (school.length == 1){
                return `${school[0].name} (${school[0].place})`
            }
            school.forEach(spec => {
                result+= `${spec.name} (${spec.place}), `;
            });
            return result
        },
        delete_lecture(i)
        {

            this.add.times.splice(i,1)
            this.add.dates.splice(i,1)
        },
        add_lecture()
        {
            this.add.times.push('')
            this.add.dates.push('')
        },
        decline(){
            this.$emit('decline');
        },
        edit_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_course_edit)
            data.append("place", this.add.place)
            data.append("id_spec", this.add.spec)
            var i = 0;
            var time_arr = this.add.times
            this.add.dates.forEach(function(element) {
                data.append("time[]", element + ' ' + time_arr[i])
                i++
            });
            this.add.teachers.forEach(function(element) {
                 data.append("teacher[]", element)
            });

            api 
            .post("admin/edit_course_school", data) 
            .then(response => { 
  
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.$store.dispatch('get_school_courses', this.$route.params.id);
                        this.decline();
                    }
                }) 
                .catch(error => { 
 
            });
        },
        
    },
    components: {
        VueGoodTable,
        AcceptStudentDialog,
        DeleteStudentDialog,
    }
};
</script>
