<template>
    <app-card
        heading="Курсы на школе"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
        <DeleteSpecDialog 
        @cancel_dialog="dialog_course = false"
        :del_row_id="del_row_id"
        :dialog_course="dialog_course"></DeleteSpecDialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_courses"
        :rows="getSchoolCourses"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                
                <span v-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="course_info(props.row.id)">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    
                </span>
                <span v-if="props.column.field == 'teachers_data'">
                    {{props.row.teachers.map(e => e.name).join(", ")}}
                </span>
                <span v-if="props.column.field == 'dates'">
                    {{props.row.lessons.map(e => e.start_date).join(", ")}}
                </span>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteSpecDialog from './DeleteSpecDialog';

import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "SchoolCourses",
    data() {
        return {
            dialog_course:false,
            columns_courses: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Специальность',
                    field: 'name',
                    type: 'text',
                    
                
                },
                {
                    label: 'Место проведения',
                    field: 'place',
                    type: 'text',
                    
                
                },
                {
                    label: 'Учителя',
                    field: 'teachers_data',
                    type: 'text',
                },
                {
                    label: 'Даты',
                    field: 'dates',
                    type: 'text',
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            del_row_id: 0,
        };
    },
    computed:{
        ...mapGetters(['getSchoolCourses']),
        
    },
    mounted(){
        this.get_courses()

    },
    methods: {
        ...mapActions(['get_courses']),
        edit(id){
            this.$emit("edit", id);
        },
        del(id)
        {
            this.del_row_id = id
            this.dialog_course = true
        },
        course_info(id)
        {
            this.$router.push("/potok/"+this.$route.params.id+'/course/'+id);
        },
        
    },
    components: {
        VueGoodTable,
        DeleteSpecDialog
    }
};
</script>
