<template>

   <v-card-text>
	   <v-dialog
        v-model="dialog_del"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog_del = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_skill"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
	    <v-dialog
        v-model="dialog_skill"
        max-width="290"
        >
            <v-card>
				<v-layout row wrap class="pa-4">
					<v-flex xs12 sm12 v-if="!new_skill">
						
						<v-select
						v-model="add.id"
						:items="avail_skills"
						item-text="name"
						item-value="id"
						label="Скилл"
						></v-select>
					</v-flex>
					<v-flex xs12 sm12 v-else>
						<v-text-field
						v-model="add.name"
						label="Имя нового скилла"
						></v-text-field>
					</v-flex>
					<v-flex xs12 sm12 v-if="new_skill">
						
						<v-select
						v-model="add.id_spec"
						:items="specs"
						item-text="name"
						item-value="id"
						label="Специальность скилла"
						></v-select>
					</v-flex>
					<v-flex xs12 sm12>
						<v-select
						v-model="add.level_id"
						:items="levels"
						item-text="name"
						item-value="id"
						label="Уровень"
						></v-select>
					</v-flex>
				<v-flex xs12 sm12>
					
					<v-btn
                    color="primary darken-1"
                    text
					v-if="!new_skill"
                    @click="new_skill=true"
               		>	
                    Создать новый скилл
                	</v-btn>
					<v-btn
                    color="primary darken-1"
                    text
					v-else
                    @click="new_skill = false"
               		>	
                	Выбрать скилл
                	</v-btn>
				</v-flex>
				<v-flex xs6 sm6>
					<v-btn
                    color="success darken-1"
                    text
					v-if="!new_skill"
                    @click="addSkill"
					>
						Добавить
					</v-btn>
					<v-btn
						color="success darken-1"
						text
						v-else
						@click="addNewSkill"
					>
						Добавить
					</v-btn>
				</v-flex>
				<v-flex xs6 sm6>
					<v-btn
                    color="primary"
                    text
                    @click="dialog_skill = false; decline"
					>
						Отмена
					</v-btn>
				</v-flex>
				
				</v-layout>
            </v-card>
        </v-dialog>
		<ul class="list-unstyled card-list mb-3" v-if="skills.length">
			<li v-for="(skill, key) in skills" :key="key">
				<p class="fw-bold m-0">{{`${skill.name} (${getLevel(skill.level)})`}}</p>
				<p class="fw-bold delete-skill" @click="curr_skill_id = skill.id; dialog_del = true">Удалить</p>
	  		</li>
		</ul>
		<h5 v-else class="mb-3">У студента еще нет скиллов</h5>
		<v-btn color="primary" class="m-0" @click='add_skill'>Добавить</v-btn>
	</v-card-text>
</template>

<style>
.list-unstyled > li{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.delete-skill{
	cursor: pointer;
	color: red;
}
</style>

<script>

import API from 'Api';


export default {

  data() {
		return {
			hw_choose: 0,
			id: this.$route.params.id,
			skills: [],
			all_skills: [],
			specs: [],
			new_skill: false,
			dialog_del: false,
			levels: [
				{name: 'Junior', id: 1},
				{name: 'Middle', id:2},
				{name: 'Senior', id:3}
			],
			dialog_skill: false,
			curr_skill_id: undefined,
			add: {
				name: '',
				id_spec: undefined,
				id: undefined,
				level_id: undefined
			},
			
		}
	},
	computed: {
		avail_skills(){
			return this.all_skills.filter(skill => {
				let count = 0;
				this.skills.forEach(sk => {
					if (sk.id_skill == skill.id){
						count += 1;
					}
				})
				if (count){
					return false;
				}else{
					return true;
				}
				
			});
		}
	},
	methods: {
		getLevel(id_level){
			if (id_level == 1){
				return 'Junior';
			}else if(id_level == 2){
				return "Middle";
			}else if (id_level == 3){
				return "Senior";
			}
		},
		decline(){
			this.add.name = '';
			this.add.id = undefined;
			this.add.id_level = undefined;
			this.add.id_spec = undefined;
		},
		addSkill(){
			const data = new FormData();
            data.append("token", this.$store.getters.getUser);
			data.append('id_skill', this.add.id);
			data.append('level', this.add.level_id);
			data.append('id_user', this.id);
            API 
            .post("admin/add_skill_user", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
						});
						this.dialog_skill = false;
                        this.load_skills()
						this.decline();
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
		},
		delete_skill(){
			const data = new FormData();
			data.append("token", this.$store.getters.getUser);
			data.append('id_skill', this.curr_skill_id);
			data.append('id_user', this.$route.params.id);
			API
			.post('/admin/delete_user_skill', data)
			.then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
						});
						this.dialog_del = false;
                        this.load_skills()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
		},
		addNewSkill(){
			const data = new FormData();
            data.append("token", this.$store.getters.getUser);
			data.append('name', this.add.name);
			data.append('level', this.add.level_id);
			data.append('id_spec', this.add.id_spec);

			data.append('id_user', this.id);
            API 
            .post("admin/add_new_skill_user", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
						});
						this.dialog_skill = false;
						this.load_skills();
						this.load_all_skills();
						this.decline();
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
		},
		load_skills(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			data.append('id_user', this.id);
			API
			.post('/admin/get_user_skills', data)
			.then(response => {
				if (response.data.error == 0){
					this.skills = response.data.skills;
				}
				else if(response.data.error == 4)
				{
					this.$store.dispatch("logout");
				}
				else if(response.data.error == 5)
				{
					
					this.$router.push("/");
				}
			})
		},
		add_skill(){
			this.dialog_skill = true;
		},
		load_all_skills(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			API
			.post('/admin/get_all_skills', data)
			.then(response => {
				if (response.data.error == 0){
					this.all_skills = response.data.skills;
				}
				else if(response.data.error == 4)
				{
					this.$store.dispatch("logout");
				}
				else if(response.data.error == 5)
				{
					
					this.$router.push("/");
				}
			})
		},
		get_specs()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            API 
            .post("admin/get_specs", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.specs = response.data.potoks
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                
            });

        },
	},
	mounted(){
		this.load_skills();
		this.load_all_skills();
		this.get_specs();
	}
};


</script>