<template>
   <v-list two-line v-if="courses.length > 0">
		<v-list-tile v-for="course in courses" :key="course.id">
			<v-list-tile-content>
                <v-list-tile-sub-title>
                    <h5 class="fw-bold gray--text">{{course.name}}</h5>
                </v-list-tile-sub-title>
			</v-list-tile-content>
		</v-list-tile>
	</v-list>
</template>


<script>

import API from 'Api';

export default {
  data() {
		return {
			hw_choose: 0,
            courses: [],
            id: this.$route.params.id,
			token: this.$store.getters.getUser,
		}
	},
	methods: {
		get_courses(){
			const data = new FormData();
			data.append('token', this.token);
			data.append('id', this.id);
			API
			.post('/admin/get_user_end_courses', data)
			.then(response => {
				if (response.data.error == 0){
                    this.courses = response.data.courses;
                    console.log(this.courses.length)
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");

			    }
				
			})

		},
	},
	mounted(){
		this.get_courses();
	}
};


</script>

