<template>
<span>
    
</span>
</template>
<script>
export default {
  data() {
    return {
      
    };
  },
  methods:
  {
	  updateValue: function (value) {

      	  this.$emit('send', value);
    }
  }
};
</script>