<template>
   <v-list two-line v-if="projects.length">
		<v-list-tile v-for="proj in projects" :key="proj.id_project">
			<v-list-tile-content>
			<v-list-tile-sub-title>
				<h5 class="fw-bold gray--text">{{`Роль - ${proj.role}`}}</h5>
				<span>{{`${proj.name}`}}</span>
			</v-list-tile-sub-title>
			</v-list-tile-content>
			<v-list-tile-action>
			<b>{{getStatus(proj.status)}}</b>
			</v-list-tile-action>
		</v-list-tile>
	</v-list>
</template>


<script>

import API from 'Api';

export default {
  data() {
		return {
			hw_choose: 0,
            projects: [],
            id: this.$route.params.id,
			token: this.$store.getters.getUser,
		}
	},
	methods: {
		getStatus(id){
			if (id == 0){
				return "Набор людей";
			}else if (id == 1){
				return "В процессе";
			}else if (id == 2){
				return "Завершен";
			}else if (id == 3){
				return "Провален";
			}
		},
		get_projects(){
			const data = new FormData();
			data.append('token', this.token);
			data.append('id', this.id);
			API
			.post('/admin/get_user_projects', data)
			.then(response => {
				if (response.data.error == 0){
					this.projects = response.data.projects;
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");

			    }
				
			})

		},
	},
	mounted(){
		this.get_projects();
	}
};


</script>

