<template>
<span>
   <span v-if="hw_choose == 0">
      <app-card
         heading="Активности студента"
         customClasses="mb-30"
      >
         <div class="ml-2" >
            <div  class="tabs" >
               <div v-for="(tab) in student_tabs" :key="tab.id" @click="choosen_tab = tab.id" class="mytab" :class="{'tab_active':choosen_tab==tab.id}" >
                  {{tab.name}}
               </div>
            </div>
         </div>
      </app-card>
      <app-card>
         <div>
            <div class="media-listing" v-if="choosen_tab == 0">
               <vue-good-table
                  class="styled"
                  styleClass="table"
                  :columns="columns_end_courses"
                  :rows="courses"
                  :paginate="true"
                  :responsive="true"
                  :lineNumbers="false"
                  :search-options="{
                     enabled: true,
                     skipDiacritics: true,
                     placeholder: 'Поиск по таблице',
                  }"
                  :pagination-options="{
                     enabled: true,
                     
                     perPage: 5,
                     position: 'bottom',
                     nextLabel: 'вперед',
                     prevLabel: 'назад',
                     rowsPerPageLabel: 'Страниц',
                     ofLabel: 'of',
                     pageLabel: 'page', // for 'pages' mode
                     allLabel: 'Все',
                  }"
                  >
                     <template slot="table-row" slot-scope="props">
                           <span v-if="props.column.field == 'result'">
                              {{props.row.success == 1 ? "Пройден" : "Провален"}}
                           </span>
                           <span v-else-if="props.column.field == 'name'">
                              <router-link style="color: #5d92f4; cursor: pointer;" :to="'/course/'+props.row.id">
                                 {{props.row.name}}
                              </router-link>
                           </span>
                           <span v-else-if="props.column.field == 'skills'">
                              {{props.row.success == 1 ? get_skills(props.row.skills) : 'Нету'}}
                           </span>
                           <span v-else>
                              {{props.formattedRow[props.column.field]}}
                           </span>
                     </template>
                </vue-good-table>
            </div>
            <div class="media-listing" v-if="choosen_tab == 1">
               <vue-good-table
                  class="styled"
                  styleClass="table"
                  :columns="columns_projects"
                  :rows="projects"
                  :paginate="true"
                  :responsive="true"
                  :lineNumbers="false"
                  :search-options="{
                     enabled: true,
                     skipDiacritics: true,
                     placeholder: 'Поиск по таблице',
                  }"
                  :pagination-options="{
                     enabled: true,
                     
                     perPage: 5,
                     position: 'bottom',
                     nextLabel: 'вперед',
                     prevLabel: 'назад',
                     rowsPerPageLabel: 'Страниц',
                     ofLabel: 'of',
                     pageLabel: 'page', // for 'pages' mode
                     allLabel: 'Все',
                  }"
                  >
                     <template slot="table-row" slot-scope="props">
                           <span v-if="props.column.field == 'status'">
                              {{get_status(props.row.status)}}
                           </span>
                           <span v-else-if="props.column.field == 'name'">
                              <router-link style="color: #5d92f4; cursor: pointer;" :to="'/project/'+props.row.id">
                                 {{props.row.name}}
                              </router-link>
                           </span>
                           <span v-else>
                              {{props.formattedRow[props.column.field]}}
                           </span>
                     </template>
                </vue-good-table>
            </div>
            <div class="media-listing" v-if="choosen_tab == 3">
               <div class="ml-2" >
                  <div  class="tabs" >
                     <div v-for="(course) in lessons" :key="course.id" @click="chosen_course = course.id" class="mytab" :class="{'tab_active':chosen_course==course.id}" >
                        {{course.name}}
                     </div>
                  </div>
               </div>
               <vue-good-table
                  class="styled"
                  styleClass="table"
                  :columns="columns_curr_courses"
                  :rows="curr_lessons"
                  :paginate="true"
                  :responsive="true"
                  :lineNumbers="false"
                  :search-options="{
                     enabled: true,
                     skipDiacritics: true,
                     placeholder: 'Поиск по таблице',
                  }"
                  :pagination-options="{
                     enabled: true,
                     
                     perPage: 5,
                     position: 'bottom',
                     nextLabel: 'вперед',
                     prevLabel: 'назад',
                     rowsPerPageLabel: 'Страниц',
                     ofLabel: 'of',
                     pageLabel: 'page', // for 'pages' mode
                     allLabel: 'Все',
                  }"
                  >
                  <template slot="table-row" slot-scope="props">
                     <span v-if="props.column.field == 'name'">
                        <router-link style="color: #5d92f4; cursor: pointer;" :to="'/course/'+props.row.id">
                           {{props.row.name}}
                        </router-link>
                     </span>
                  </template>
                </vue-good-table>
            </div>
            
         </div>
      </app-card>
   </span>
</span>
</template>
<script>

import API from 'Api'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
   data() {
      return {
         hw_choose: 0,
         lessons: [],
			id: this.$route.params.id,
         specs: [],
         curr_lesson_user: {},
         student_tabs: [
            {
               name: "Завершенные курсы",
               id: 0
            },
            {
               name: "Проекты",
               id: 1
            },
            // {
            //    name: "Компетенции",
            //    id: 2
            // },
            {
               name: "Текущие курсы",
               id: 3
            }
         ],
         choosen_tab: 0,
         specs_names: [],
         courses: [],
         projects: [],
         chosen_course: 0,
         homework_text: undefined,
         chosen_place: 0,
         columns_projects: [
               {
                  label: 'Название',
                  field: 'name',
                  type: 'text',
                  filterOptions: {
                     enabled: true, // enable filter for this column
                     placeholder: 'фильтр', // placeholder for filter input
                  }
               
               },
               {
                  label: 'Роль',
                  field: 'role',
                  type: 'text',
                  filterOptions: {
                     enabled: true, // enable filter for this column
                     placeholder: 'фильтр', // placeholder for filter input
                  }
               
               },
               {
                  label: 'Статус',
                  field: 'status',
                  type: 'text',
                  filterOptions: {
                     enabled: true, // enable filter for this column
                     placeholder: 'фильтр', // placeholder for filter input
                  }
               
               },
         ],
         columns_curr_courses: [
            {
               label: 'Название занятия',
               field: 'name',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
            {
               label: 'Место',
               field: 'place',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
            {
               label: 'Дата',
               field: 'start_time',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
         ],
         columns_end_courses: [
            {
               label: 'Название',
               field: 'name',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
            {
               label: 'Полученные компетенции',
               field: 'skills',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
            {
               label: 'результат',
               field: 'result',
               type: 'text',
               filterOptions: {
                  enabled: true, // enable filter for this column
                  placeholder: 'фильтр', // placeholder for filter input
               }
            
            },
         ],
      };
   },
   computed: {
      curr_lessons(){
         return this.lessons.filter(cur => cur.id = this.chosen_course)[0] ? this.lessons.filter(cur => cur.id = this.chosen_course)[0].lessons : ['mem'];
      }
   },
   mounted(){
      const view = this;
      this.get_end_courses();
      this.get_projects();
      this.get_curr_courses();
   },
  methods:{
     get_status(id){
			if (id == 0){
				return "Набор людей";
			}else if (id == 1){
				return "В процессе";
			}else if (id == 2){
				return "Завершен";
			}else if (id == 3){
				return "Провален";
			}
		},
      get_result(res){
         if (res.length){
            return res[0].result;
         }else{
            return "Нету";
         }
      },
      get_level(lvl){
         if (lvl == 1){
            return 'Junior'
         }else if (lvl == 2){
            return "Middle"
         }else if (lvl == 3){
            return "Senior"
         }
      },
      get_skills(skills){
         if (skills.length == 0){
            return 'Ничего не получено';
         }else if (skills.length == 1){
            return `${skills[0].name} (${this.get_level(skills[0].level)})`;
         }else{
            let result = ``;
            skills.forEach(skil => {
               result += `${skil.name} (${this.get_level(skil.level)})`;
            });
            return result;
         }
      },
      get_projects(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			data.append('id', this.id);
			API
			.post('/admin/get_user_projects', data)
			.then(response => {
				if (response.data.error == 0){
					this.projects = response.data.projects;
				} else if (response.data.error == 4){
				    this.$store.dispatch("logout");

			    }
				
			})

		},
      get_end_courses() {
		   const data = new FormData();
         const view = this;
         data.append('token', this.$store.getters.getUser)
         data.append("id", this.id)
         API
         .post('admin/get_user_end_courses', data)
         .then(response =>{
            if (response.data.error == 0){
               this.courses = response.data.courses;
            }else if (response.data.error == 4){
            //    view.$store.dispatch("logout");
            }
         });
      },
      get_curr_courses() {
		   const data = new FormData();
         const view = this;
         data.append('token', this.$store.getters.getUser)
         data.append("id", this.id)
         API
         .post('admin/get_user_lessons', data)
         .then(response =>{
            if (response.data.error == 0){
               this.lessons = response.data.lessons;
               
               this.chosen_course = response.data.lessons[0] ? response.data.lessons[0].id : 0;
            }else if (response.data.error == 4){
            //    view.$store.dispatch("logout");
            }
         });
	   },
   },
    components: {
        VueGoodTable
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>
