<template>
   <div class="media pos-relative">
	   <div class="header-role">
		   <img :src="get_img(user.img)" class="img-responsive rounded-circle mr-4" alt="user profile" />
		<!-- <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            class="change-role mr-3"
            v-on="on"
          >
            роль
          </v-btn>
        </template>
        <v-list>
		<v-list-tile class="media-body"
            v-for="(role, index) in roles"
            :key="index"
          >
            <span @click="changeRole(role.id_role)" style="cursor: pointer">{{ role.name }}</span>
		</v-list-tile>
        </v-list>
      </v-menu> -->
	   </div>
		<div class="media-body">
			
			<h2>{{`${user.surname} ${user.name}`}}</h2>
			<span v-if="user.role == 1">
				Ученик школы
			</span>
			<span v-else-if="user.role == 2">
				Участник органицации
			</span>
			<span v-else-if="user.role == 3">
				Выпускник
			</span>
		</div>
		<v-dialog
		v-model="dialog_role"
		max-width="500px"
		>
			<v-card>
				<v-card-title>
				Выберите специальность
				</v-card-title>
				<v-card-text>
					<v-select
						:items="specs"
						label="Специальность"
						item-value="id"
						item-text="name"
					></v-select>
				</v-card-text>
				<v-card-actions>
					<v-btn
						color="primary"
						text
						@click="dialog_sign = false; choose_role()"
					>
						Изменить роль
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<style>
.header-role{
	display: flex;
	flex-direction: column;

}
.media{
	align-items: center;
}
.img-responsive{
	width: 85px;
	height: 85px;
}
</style>

<script>

import API from 'Api'

export default {
  data() {
		return {
			hw_choose: 0,
			dialog_role: false,
			token: this.$store.getters.getUser,
			id: this.$route.params.id,
			courses: [],
			specs: [],
			user: {},
			roles: [
				{name: 'Ученик', id_role: 1},
				{name: 'В программе', id_role: 4},
				{name: 'Выпускник', id_role: 2 },
				{name: "Никто", id_role: 0}
			]
		}
	},
	computed: {
		all_courses(){
			return this.courses.concat(this.specs);
		}
	},
	methods: {
		get_img(src){
			return `https://api.styleru.org${src}`;
		},
		changeRole(id){
			console.log(id);
			if (id == 2){
				this.dialog_role = true;
			}
		},
		get_courses(){
			const data = new FormData();
			const view = this
			data.append('token', this.token);
			API
			.post('admin/get_courses', data)
			.then(function(response){
				if (response.data.error == 0){
					view.courses = response.data.courses;
				}else if (response.data.error == 4){
					view.$store.dispatch("logout");

				}
			})
			.catch(function(){
				console.log(response);
			})
		},
		get_specs(){
			const data = new FormData();
			const view = this
			data.append('token', this.token);
			API
			.post('admin/get_specs', data)
			.then(function(response){
				if (response.data.error == 0){
					view.specs = response.data.potoks;
				}else if (response.data.error == 4){
					view.$store.dispatch("logout");

				}
			})
			.catch(function(){
				console.log(response);
			})
		},
		user_info() {
			const data = new FormData();
			const view = this;
			data.append('token', this.token);
			data.append('id_student', this.id);

			API
			.post('admin/student_info', data)
			.then(function(response){
				if (response.data.error == 0){
					view.user = response.data.info[0];
				}else if(response.data.error == 4){
					view.$store.dispatch("logout");

				}
				
			});
			
		}
	},
	mounted(){
		this.get_courses();
		this.get_specs();
		this.user_info();
	}
};


</script>
