<template>
    <div class="site-logo">
        <router-link to="/">
            <img src="/static/my_img/rulogo.png"  alt="site logo" width="30" height="30">
        </router-link>
    </div>
</template>

<script>
import AppConfig from "Constants/AppConfig";
import { mapGetters } from "vuex";

export default {
   computed: {
      ...mapGetters(["sidebarSelectedFilter"])
   },
}
</script>
