<!-- Side Structure -->
<script src="../../store/modules/course/index.js"></script>
<template>
  	<div class="sidebar" :class="sidebarSelectedFilter.class">
    	<vue-perfect-scrollbar class="scroll-area" :settings="settings">
        <v-toolbar flat class="transparent scroll-area navigation">
          <v-list>
				<app-logo></app-logo>
				<template v-for="(category, key) in menus">
					<div :key="key">
						<div class="sidebar-title px-3">
							<span>{{key}}</span>
						</div>
						<template v-for="item in category">
							<template v-if="item.items != null && item.role.includes(parseInt($store.getters.getRole))">
								<v-list-group
									:key="item.title"
									prepend-icon="arrow_right"
									append-icon=""
									no-action
									v-model="item.active"
								>
									<v-list-tile slot="activator">
										<v-list-tile-content>
											<v-list-tile-title  v-if="item.items!= null">
												<i class="mr-3 zmdi" :class="item.action"></i>
												<span >{{ textTruncate(item.title) }}</span>
											</v-list-tile-title>
											
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile
										v-for="subItem in item.items"
										v-bind:key="subItem.title"
										v-if="subItem !== null"
										:to="!subItem.exact ? `/${getCurrentAppLayoutHandler() + subItem.path}` : subItem.path"
									>
										<v-list-tile-content>
											<v-list-tile-title>{{ textTruncate(subItem.title) }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
								</v-list-group>
							</template>	
							<template v-else-if="item.role.includes(parseInt($store.getters.getRole))">
								<v-list-group
									class="not-submenu"
									:key="item.title"
									prepend-icon="arrow_right"
									append-icon=""
									no-action
									v-model="item.active"
								>
									<v-list-tile slot="activator">
										<v-list-tile-content >
											<v-list-tile-title>
												<router-link :to="!item.exact ? `/${getCurrentAppLayoutHandler() + item.path}` : item.path">
													<i class="mr-3 zmdi" :class="item.action"></i>
													<span>{{ textTruncate(item.title) }}</span>
												</router-link>
											</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									
								</v-list-group>
							</template>
						</template>
					</div>
				</template>
				<template v-if="parseInt($store.getters.getRole) == 2">
						<v-list-group
							class="not-submenu"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
						>
							<v-list-tile slot="activator">
								<v-list-tile-content >
									<v-list-tile-title>
										<router-link :to="`/potok/${school_id}}`">
											<i class="mr-3 zmdi zmdi-book"></i>
											<span>Текущая школа</span>
										</router-link>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							
						</v-list-group>
					</template>
					<template v-if="$store.getters.getRole == 1">
						<v-list-group
							class="not-submenu"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="courses_active"
							v-if="getTeacherSpecAdmin.teacher_courses_info.length">
							<v-list-tile slot="activator">
								<v-list-tile-content >
									<v-list-tile-title>
                                        <i class="mr-3 zmdi zmdi-book"></i>
                                        <span>Курсы</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <router-link :to="`/courses`">{{ textTruncate("Добавить курсы") }}</router-link>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
							<v-list-tile
								v-for="(course, key) in getTeacherSpecAdmin.teacher_courses_info"
								:key="key"
								:to=" `/course/${course.id_course}`"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate(course.name)}}  <!--{{course.place ? course.place : ''}}--></v-list-tile-title> 
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
						<v-list-group
							class="not-submenu"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="spec_active"
							v-if="getTeacherSpecAdmin.teacher_specs_info.length"

						>
							<v-list-tile slot="activator">
								<v-list-tile-content >
									<v-list-tile-title>
											<i class="mr-3 zmdi zmdi-book"></i>
											<span>Курсы на школе</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile
								v-for="(course, key) in getTeacherSpecAdmin.teacher_specs_info"
								:key="key"
								:to="`/potok/${course.id_potok}/course/${course.id_course}`"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ `${textTruncate(course.name)} (${textTruncate(course.place)})`}}  <!--{{course.place ? course.place : ''}}--></v-list-tile-title> 
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
						<v-list-group
							class="not-submenu"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="project_active"
						>
							<v-list-tile slot="activator">
								<v-list-tile-content >
									<v-list-tile-title>
											<i class="mr-3 zmdi zmdi-book"></i>
											<span>Проекты</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>
                                        <router-link :to="`/projects`">{{ textTruncate("Добавить проекты") }}</router-link>
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
							<v-list-tile
								v-for="(course, key) in getTeacherSpecAdmin.teacher_projects_info"
								:key="key"
								:to="`/project/${course.id_project}`"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate(course.name)}}  <!--{{course.place ? course.place : ''}}--></v-list-tile-title> 
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
						<v-list-group
							class="not-submenu"
							prepend-icon="arrow_right"
							append-icon=""
							no-action
							v-model="spec_admin_active"
							v-if="getTeacherSpecAdmin.teacher_spec_admin_info.length"

						>
							<v-list-tile slot="activator">
								<v-list-tile-content >
									<v-list-tile-title>
											<i class="mr-3 zmdi zmdi-book"></i>
											<span>Специальности</span>
									</v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
							<v-list-tile
								v-for="(course, key) in getTeacherSpecAdmin.teacher_spec_admin_info"
								:key="key"
								:to="`/specialization/${course.id}`"
							>
								<v-list-tile-content>
									<v-list-tile-title>{{ textTruncate(course.name)}}  <!--{{course.place ? course.place : ''}}--></v-list-tile-title>
								</v-list-tile-content>
							</v-list-tile>
						</v-list-group>
					</template>
          </v-list>
        </v-toolbar>
    	</vue-perfect-scrollbar>
  	</div>
</template>

<script>
import UserBlock from "./UserBlock";
import { textTruncate, getCurrentAppLayout } from "Helpers/helpers";
import { mapActions, mapGetters } from "vuex";
import AppLogo from "Components/AppLogo/AppLogo";
import API from 'Api'
export default {
  data() {
    return {
      settings: {
        maxScrollbarLength: 160
			},
			courses_active: false,
			project_active: false,
			spec_active: false,
			school_id: undefined,
			teach_courses: [],
			teach_specs: [],
			spec_admin: [],
			teach_projects: [],
			spec_admin_active: false
    };
  },
  components: {
    UserBlock,
    AppLogo
  },
  computed: {
    ...mapGetters(["sidebarSelectedFilter", "menus", "getTeacherSpecAdmin"]),

  },
  methods: {
      ...mapActions(["get_teachers_specs"]),
    textTruncate(text) {

      return textTruncate(text, 18);
    },
    getCurrentAppLayoutHandler() {
      return getCurrentAppLayout(this.$router);
		},
		// get_teachers_specs(){
		// 	const data = new FormData();
		// 	data.append('token', this.$store.getters.getUser);
		// 	API
		// 	.post('admin/get_teachers_specs', data)
		// 	.then(response => {
		// 		if (response.data.error == 0){
		// 		    console.log(response);
		// 			this.teach_courses = response.data.data.courses;
		// 			this.teach_specs = response.data.data.specs;
		// 			this.teach_projects = response.data.data.projects;
		// 			this.spec_admin = response.data.data.spec_admin;
		// 		}else if (response.data.error == 4){
		// 			this.$store.dispatch('logout');
		// 		}
		// 	})
		// },
		get_current_school(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			API
			.post('admin/get_current_potok', data)
			.then(response => {
				if (response.data.error == 0){
					this.school_id = response.data.id;
				}else if (response.data.error == 4){
					this.$store.dispatch('logout');
				}
			})
			.catch(response => {

			});
		}
	},
	mounted(){
		if (this.$store.getters.getRole == 1){
            this.get_teachers_specs();
		}else{
			this.get_current_school();
		}

	}
};
</script>
