<template>
    <app-card
        heading="Навыки"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        >
        <v-dialog
        v-model="dialog_skill"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog_skill = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_skill"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_skills"
        :rows="getSpecSkills"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                
                <span v-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "Skills",
    props: [],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            del_row_id: -1,
            dialog_skill:false,

            columns_skills: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getSpecSkills']),

    },
    methods: {
        ...mapActions(['get_skills']),
        edit(id){
            this.$emit("edit", id);
        },
        delete_skill()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_skill", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.get_skills(this.$route.params.id);
                        this.dialog_skill = false
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        del(id)
        {
            this.del_row_id = id
            this.dialog_skill = true
        },
    },
};
</script>
