<template>
    <app-card
        heading="Ученики на школе"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
        
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns_students"
        :rows="rows_students"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">

                <router-link v-if="props.column.field == 'fullname'" style="color: #5d92f4; cursor: pointer;" :to="'/student/profile/'+props.row.id">
                    {{props.formattedRow[props.column.field]}}
                </router-link>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else-if="props.column.field == 'skills'">
                            {{getSkills(props.row.skills)}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>

            </template>
        </vue-good-table>
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "Skills",
    props: [],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            rows: [],
            del_row_id: 0,
            dialog: false,
            rows_students: [],

            columns_students: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Фамилия Имя',
                    field: 'fullname',
                    type: 'text',
                },
                {
                    label: 'Вконтакте',
                    field: 'vk_link',
                    type: 'text',
                },
                {
                    label: 'Телефон',
                    field: 'phone',
                    type: 'text',
                },
                {
                    label: 'Почта',
                    field: 'mail',
                    type: 'text',
                },
                {
                    label: 'Скиллы',
                    field: 'skills',
                    type: 'text',
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getSpecSkills']),

    },
    mounted(){
        this.get_students_by_spec()
    },
    methods: {
        get_students_by_spec(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_spec', this.$route.params.id);
            api
            .post('admin/get_students_by_spec', data)
            .then(response => {
                if (response.data.error == 0){
                    this.rows_students = response.data.students;
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
        getSkills(skills){
            let result = '';
            if (skills.length == 0){
                return 'Нет полученных скиллов';
            }else if (skills.length == 1){
                let level = '';
                if (skills[0].level == 1){
                    level = 'Junior';
                } else if (skills[0].level == 2){
                    level = 'Middle';
                }else if (skills[0].level == 3){
                    level = 'Senior';
                }
                return `${skills[0].name} (${level})`;
            }
            let level = '';
            skills.forEach(potok => {
                if (potok.level == 1){
                    level = 'Junior';
                } else if (potok.level == 2){
                    level = 'Middle';
                }else if (potok.level == 3){
                    level = 'Senior';
                }
                result += `${potok.name} (${level}), `
            });
            return result;

        },
    },
};
</script>
