<template>
    <app-card
        heading="Преподаватели"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="md12 sm12 xs12"
        
    >
        <v-dialog
        v-model="dialog"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_teacher"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns"
        :rows="rows"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                
                <span v-if="props.column.field == 'action'">
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del_teacher(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                </span>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "Skills",
    props: [],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            rows: [],
            del_row_id: 0,
            dialog: false,
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Фамилия Имя',
                    field: 'name',
                    type: 'text',
                    
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed:{
        ...mapGetters(['getSpecSkills']),

    },
    mounted(){
        this.get_teachers_by_spec()
    },
    methods: {
        delete_teacher()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id);
            data.append('id_spec', this.$route.params.id);
            api 
            .post("admin/delete_teacher_from_spec", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.get_teachers_by_spec()
                        this.dialog = false
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        get_teachers_by_spec()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.$route.params.id)
            api 
            .post("admin/get_teachers_by_spec", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.rows = response.data.teachers
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        del_teacher(id)
        {
            
            this.del_row_id = id
            this.dialog = true
        },
    },
};
</script>
