<template>
    <app-card
        heading="Администраторы"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns"
        :rows="getAdmins"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'role'">
                    {{props.row.role == 0?'Блокировка': props.row.role == 1? 'Учитель': 'Админ' }}
                    
                </span>
                <span v-else-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "AdminList",
    data() {
        return {
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Фамилия',
                    field: 'surname',
                    type: 'text',
                
                },
                {
                    label: 'Имя',
                    field: 'name',
                    type: 'text',
                    
                
                },
                {
                    label: 'Почта',
                    field: 'mail',
                    type: 'text',
                
                },
                {
                    label: 'Роль',
                    field: 'role',
                    type: 'text',
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            rows: []
        };
    },
    mounted(){
        this.$on("admin_added", ()=>{
            this.get_admins();
        });
        this.get_admins();
    },
    computed:{
        ...mapGetters(['getAdmins'])
    },
    methods: {
        ...mapActions(['get_admins']),
        del(id){
            this.$emit("click_del", id);
        },
        edit(id){
            this.$emit("click_edit", id);
        },
        // get_admins()
        // {
        //     const data = new FormData()
        //     data.append("token", this.$store.getters.getUser)
        //     api 
        //     .post("admin/get_admins", data) 
        //     .then(response => { 
        //             if(response.data.error == 0)
        //             {
        //                 this.rows = response.data.potoks
        //             }
        //             if(response.data.error == 4)
        //             {
        //                 this.$store.dispatch("logout");
        //             }
        //             if(response.data.error == 5)
        //             {
                        
        //                 this.$router.push("/");
        //             }
        //         }) 
        //         .catch(error => { 
        //         console.log("error" + error); 
        //     });

        // },
    },
    components: {
        VueGoodTable
    }
};
</script>
