<template>
    <app-card
        heading="Редактировать"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
        
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                
                <v-flex xs12 sm6>
                    <v-text-field v-model="add.name" label="Имя"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field v-model="add.surname" label="Фамилия"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <v-text-field v-model="add.mail" label="Почта"></v-text-field>
                </v-flex>
                

                <v-flex xs12 sm6>
                    
                    <v-select
                    v-model="add.role"
                    :items="statuses"
                    item-text="label"
                    item-value="value"
                    label="Статус"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-btn color="primary mt-3" @click='edit_admin'>Редактировать</v-btn>
                    <v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>
                </v-flex>

                <v-flex xs12 sm12>
                    <v-text-field v-model="add.pass" label="Новый пароль"></v-text-field>
                    
                </v-flex>
                <v-btn color="primary mt-3" @click='edit_pass'>Задать</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
    props: ['add', 'row_edit'],
    name: "AdminList",
    data() {
        return {
           
            statuses: [{'value': '0', 'label':'блокировка'},{'value': '1', 'label':'учитель'},{'value': '2', 'label':'админ'}],

        };
    },
    methods: {
        decline()
        {  
            this.$emit("cancel_edit");
            this.add.name = ''
            this.add.surname = ''
            this.add.mail = ''
            this.add.role = ''
            this.add.pass = ''
        },
        edit_pass()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_edit)
            data.append("pass", this.add.pass)
            
            api 
            .post("admin/edit_pass", data) 
                .then(response => { 
    
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.$store.dispatch('get_admins')
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        edit_admin()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_edit)
            data.append("name", this.add.name)
            data.append("surname", this.add.surname)
            data.append("mail", this.add.mail)
            data.append("role", this.add.role)
            api 
            .post("admin/edit_admin", data) 
            .then(response => { 
             console.log(response.data)
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.$store.dispatch('get_admins')
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
    components: {
        VueGoodTable
    }
};
</script>
