<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
        
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <span class="d-block">Начало школы</span>
                    <v-date-picker v-model="add.start"></v-date-picker>
                </v-flex>
                <v-flex xs12 sm6>
                    <span class="d-block">Конец регистрации на школу</span>
                    <v-date-picker v-model="add.reg_end"></v-date-picker>
                </v-flex>
                <v-btn color="primary mt-3" @click='add_potok'>Добавить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteDialog from './DeleteDialog'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "PotoksList",
    props: ['add'],
    data() {
        return {
            
        };
    },
    computed: {
        ...mapGetters(['getPotoks']),
    },
    mounted(){
        this.get_potoks();
    },
    methods: {
        ...mapActions(['get_potoks']),
        decline(){
            this.$emit("decline");
        },
        add_potok()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("name", this.add.name)
            data.append("start", this.add.start)
            data.append("regend", this.add.reg_end)
            api 
            .post("admin/add_potok", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.get_potoks()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        
    },
    components: {
        DeleteDialog,
        VueGoodTable
    }
};
</script>
