<template>
    <app-card
        heading="Редактировать"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                    <span class="d-block">Начало школы</span>
                    <v-date-picker v-model="add.start"></v-date-picker>
                </v-flex>
                <v-flex xs12 sm6>
                    <span class="d-block">Конец регистрации на школу</span>
                    <v-date-picker v-model="add.reg_end"></v-date-picker>
                </v-flex>

                <v-flex xs12 sm12>
                    
                    <v-select
                    v-model="add.status"
                    :items="statuses"
                    item-text="label"
                    item-value="value"
                    label="Статус"
                    ></v-select>
                </v-flex>
                <v-btn color="primary mt-3" @click='edit_potok'>Редактировать</v-btn>
                <v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "EditPotok",
    props: ['add', 'row_edit'],
    data() {
        return {
            statuses: [{'value': '0', 'label':'школа'},{'value': '1', 'label':'текущий'},{'value': '2', 'label':'выпуск'}],
        };
    },
    computed: {
        ...mapGetters(['getPotoks']),
    },
    mounted(){
        this.get_potoks();
    },
    methods: {
        ...mapActions(['get_potoks']),
        decline(){
            this.$emit("decline");
        },
        edit_potok()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_edit)
            data.append("name", this.add.name)
            data.append("start", this.add.start)
            data.append("regend", this.add.reg_end)
            data.append("status", this.add.status)
            api 
            .post("admin/edit_potok", data) 
            .then(response => { 
             console.log(response.data)
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.get_potoks()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        
    },
    components: {
        VueGoodTable
    }
};
</script>
