<template>
    <app-card
        heading="Потоки"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12"
    >
        <DeleteDialog :del_row_id="del_row_id" @cancel_dialog="dialog=false" :dialog="dialog"></DeleteDialog>

        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns"
        :rows="getPotoks"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }"
        >
            

            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'status'">
                    {{props.row.status == 0?'Школа': props.row.status == 1? 'текущий': 'выпускники' }}
                    
                </span>
                <span v-else-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="potok_info(props.row.id)">
                        <i class="zmdi zmdi-eye"  ></i>
                    </span>
                    
                </span>
                <span v-else-if="props.column.field == 'id'">
                    {{props.row.originalIndex + 1}}
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
                
            
            
            
            </template>

        </vue-good-table>

        
        
    </app-card>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import DeleteDialog from './DeleteDialog'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';

export default {
    name: "PotoksList",
    data() {
        return {
            del_row_id: -1,
            dialog: false,
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Дата начала школы',
                    field: 'school_start',
                    type: 'date',
                    dateInputFormat: 'yyyy-mm-dd',
                    dateOutputFormat: 'dd-mm-yyyy'
                
                },
                {
                    label: 'Дата окончания регистрации',
                    field: 'reg_end',
                    type: 'date',
                    dateInputFormat: 'yyyy-mm-dd',
                    dateOutputFormat: 'dd-mm-yyyy'
                
                },
                {
                    label: 'Состояние',
                    field: 'status',
                    type: 'text',
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    computed: {
        ...mapGetters(['getPotoks']),
    },
    mounted(){
        this.get_potoks();
    },
    methods: {
        ...mapActions(['get_potoks']),
        edit(id){
            this.$emit("edit", id);
        },
        del(id)
        {
        
            this.del_row_id = id
            this.dialog = true
        },
        potok_info(id){
            this.$router.push("/potok/"+id);
        }
        
    },
    components: {
        DeleteDialog,
        VueGoodTable
    }
};
</script>
