<template>
    <app-card
        heading="Добавить"
        :fullBlock="true" 
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12"
        
    >
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <span class="d-block">Описание</span>
                    <wysiwyg v-model="add.description" />
                </v-flex>
                <v-flex v-if="this.$store.getters.getRole == 2" xs12 sm12>
                    <v-select
                    v-model="add.id_mentor"
                    :items="getTeachers"
                    item-text="name"
                    item-value="id"
                    label="Ментор проекта"
                    ></v-select>
                </v-flex>
                <v-flex v-else xs12 sm12>
                    <v-select
                    v-model="add.id_mentor"
                    :items="teacher_name"
                    item-text="name"
                    item-value="id"
                    label="Ментор проекта"
                    ></v-select>
                </v-flex>
                <v-flex v-if="this.$store.gettersgetRole == 2" xs12 sm12>
                    <v-select
                    v-model="add.id_spec"
                    :items="getSpecs"
                    item-text="name"
                    multiple
                    item-value="id"
                    label="Направления"
                    ></v-select>
                </v-flex>
                <v-flex v-else xs12 sm12>
                    <v-select
                    v-model="add.id_spec"
                    :items="getTeacherSpecAdmin.teacher_spec_admin_info"
                    item-text="name"
                    multiple
                    item-value="id"
                    label="Направления"
                    ></v-select>
                </v-flex>
                <v-flex xs12 sm12 v-for="id in add.id_spec" :key="id">
                    <span class="d-block">Описание для {{choseSpec(id)}}</span>
                    <wysiwyg v-model="add.desc_spec[id]" />
                </v-flex>

                <v-flex xs12 sm12 style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly">
                    <div>
                        <span class="d-block">Старт проекта</span>
                        <v-date-picker v-model="add.date_start"></v-date-picker>
                    </div>
                    <div>
                        <span class="d-block">Завершение проекта</span>
                        <v-date-picker v-model="add.date_end"></v-date-picker>
                    </div>
                </v-flex>
                <v-btn color="primary mt-3" @click='add_project'>Добавить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "AddProject",
    props: ['add'],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            teacher_name: [{
                name: undefined,
                id: -1
            }],
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Ментор',
                    field: 'mentor_name',
                    type: 'text',
                    
                
                },
                {
                    label: 'Статус',
                    field: 'status',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            tab: 2,
            dialog:false,
            del_row_id: -1,
        };
    },
    computed:{
        ...mapGetters(['getProjects', 'getSpecs', 'getTeachers', "getTeacherSpecAdmin"])
    },
    mounted(){
        this.get_teacher_name();
        // console.log(this.$store.getters.getTeacherSpecAdmin.teacher_projects_info[0].id_project);
    },
    methods: {
        ...mapActions(['get_specs', 'get_projects', "get_teachers_specs"]),
         choseSpec(id){
            return this.getSpecs.filter(spec => spec.id == id)[0].name
        },
        get_teacher_name(){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            api
                .post("admin/main_info", data)
                .then(response => {
                    if(response.data.error == 0){
                        this.teacher_name[0].name = response.data.info.name + ' ' + response.data.info.surname;
                        this.teacher_name[0].id = response.data.info.id;
                    }
                })
                .catch(error => {

                });
        },
        project_specs(){
            let result = [];
            this.add.id_spec.forEach(id => {
                result.push({
                    id: id,
                    desc: this.add.desc_spec[id]
                });
            });
            return result;
        },
        getStatus(stat){
            if (stat == 0){
                return 'Набор людей';
            }else if (stat == 1){
                return "В процессе";
            }else if (stat == 2){
                return "Завершен";
            }else if(stat == 3){
                return "Провален";
            }

        },
        add_project()
        {
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            data.append("name", this.add.name);
            data.append("description", this.add.description);
            data.append('id_mentor', this.add.id_mentor);
            data.append('date_begin', this.add.date_start);
            data.append('date_end', this.add.date_end);
            this.project_specs().forEach(function(element) {
                data.append("specs_ids[]", element.id);
                data.append("specs_desc[]", element.desc);
            });
            api 
            .post("admin/add_project", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.$emit("add_proj");
                        if (this.$store.getters.getRole == 1){
                            this.$store.dispatch('get_teachers_specs');
                        }
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
};
</script>
