<template>
    <app-card
        heading="Редактировать"
        :fullBlock="true"
        customClasses="mb-30"
        colClasses="xl12 lg12 md12 sm12 xs12">
        <v-container grid-list-xl fluid pt-0>
            <v-layout row wrap>
                
                <v-flex xs12 sm12>
                    <v-text-field v-model="add.name" label="Название"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                    <span class="d-block">Описание</span>
                    <wysiwyg v-model="add.description" />
                </v-flex>

                <v-flex xs12 sm12 style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly">
                    <div>
                        <span class="d-block">Старт проекта</span>
                        <v-date-picker v-model="add.date_start"></v-date-picker>
                    </div>
                    <div>
                        <span class="d-block">Завершение проекта</span>
                        <v-date-picker v-model="add.date_end"></v-date-picker>
                    </div>
                </v-flex>
                
                <v-flex xs12 sm12 style="display:table;">
                    <span class="d-block">Статус</span>
                    <v-select
                    v-model="add.status"
                    :items="statuses"
                    item-text="label"
                    item-value="value"
                    label="Статус"
                    ></v-select>
                </v-flex>
                
                
                <v-btn color="primary mt-3" @click='edit_project'>Редактировать</v-btn>
                <v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>
            </v-layout>
        </v-container>
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "AddProject",
    props: ['add', 'row_edit'],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            statuses: [
                {'value': '0', 'label':'Набор людей'},
                {'value': '1', 'label':'В процессе'},
                {'value': '2', 'label':'Завершен'},
                {'value': '3', 'label':'Провален'},
            ],
        };
    },
    computed:{
        ...mapGetters(['getProjects', 'getSpecs', 'getTeachers'])
    },
    mounted(){
        
    },
    methods: {

        ...mapActions(['get_specs', 'get_projects']),
         choseSpec(id){
            return this.getSpecs.filter(spec => spec.id == id)[0].name
        },
        project_specs(){
            let result = [];
            this.add.id_spec.forEach(id => {
                result.push({
                    id: id,
                    desc: this.add.desc_spec[id]
                });
            });
            return result;
        },
        getStatus(stat){
            if (stat == 0){
                return 'Набор людей';
            }else if (stat == 1){
                return "В процессе";
            }else if (stat == 2){
                return "Завершен";
            }else if(stat == 3){
                return "Провален";
            }

        },
        decline(){
            this.$emit("edit_proj");
        },
        edit_project()
        {
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            data.append("id", this.row_edit);
            data.append("name", this.add.name);
            data.append("description", this.add.description);
            data.append("status", this.add.status);
            data.append('date_begin', this.add.date_start);
            data.append('date_end', this.add.date_end);
            api
            .post("admin/edit_project", data)
            .then(response => {
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.decline();
                        this.get_projects();
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    },
};
</script>
