<template>
    <app-card
        heading="Проекты"
        :fullBlock="true"
        customClasses=" mt-3"
        colClasses="xl12 lg12 md12 sm12 xs12">
        <div  class="tabs mb-3 ml-3">
            <div @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}" >
                В процессе
            </div>
            <div @click="tab = 3" class="mytab" :class="{'tab_active':tab==3}" >
                Завершенные
            </div>
        </div>
        <v-dialog
        v-model="dialog"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_course"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <vue-good-table
        class="styled"
        styleClass="table"
        :columns="columns"
        :rows="rows_projects(tab)"
        :paginate="true"
        :responsive="true"
        :lineNumbers="false"
        :search-options="{
            enabled: true,
            skipDiacritics: true,
            placeholder: 'Поиск по таблице',
        }"
        :pagination-options="{
            enabled: true,
            
            perPage: 5,
            position: 'bottom',
            nextLabel: 'вперед',
            prevLabel: 'назад',
            rowsPerPageLabel: 'Страниц',
            ofLabel: 'of',
            pageLabel: 'page', // for 'pages' mode
            allLabel: 'Все',
        }">
            <template slot="table-row" slot-scope="props">
                <span v-if="props.column.field == 'status'">
                    {{getStatus(props.row.status)}}
                    
                </span>

                <span v-else-if="props.column.field == 'action'">
                    
                    <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                        <i class="zmdi" :class="'zmdi-edit'"></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                        <i class="zmdi zmdi-delete"  ></i>
                    </span>
                    <span class="icon-style ml-3" style="cursor:pointer" @click="project_info(props.row.id)">
                        <i class="zmdi zmdi-eye"  ></i>
                    </span>
                    
                </span>
                <span v-else>
                    {{props.formattedRow[props.column.field]}}
                </span>
            </template>
        </vue-good-table>
    </app-card>
</template>

<script>

import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';


export default {
    name: "ProjectsList",
    props: ['students'],
    components: {
        VueGoodTable,
    },
    data() {
        return {
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Ментор',
                    field: 'mentor_name',
                    type: 'text',
                    
                
                },
                {
                    label: 'Статус',
                    field: 'status',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            tab: 2,
            dialog:false,
            del_row_id: -1,
        };
    },
    computed:{
        ...mapGetters(['getProjects'])
    },
    mounted(){
    },
    methods: {

        ...mapActions(['get_specs', 'get_projects']),
        getStatus(stat){
            if (stat == 0){
                return 'Набор людей';
            }else if (stat == 1){
                return "В процессе";
            }else if (stat == 2){
                return "Завершен";
            }else if(stat == 3){
                return "Провален";
            }

        },
        delete_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_project", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.get_projects()
                        this.dialog = false
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        rows_projects(tab){
            if (tab == 2){
                return this.getProjects.filter(project => project.status == 0 || project.status == 1);
            }else{
                return this.getProjects.filter(project => project.status == 2 || project.status == 3);
            }
        },
        edit(id){
            this.$emit("edit", id);
        },
        del(id)
        {
            this.del_row_id = id
            this.dialog = true
        },
        get_project_store(){
            this.get_project(this.get_specs(this.$route.params.id));
        },
        project_info(id){
            this.$router.push("/project/"+id);
        }
    },
};
</script>
