<template>	
  	<v-container fluid grid-list-xl py-0>
		<v-layout row wrap>
			<app-card
				heading="Добавить ученика"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12 mt-4"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        
                        <v-flex xs12 sm12>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="user.mail" label="email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="user.pass" label="Пароль"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6>
                                    <v-text-field v-model="user.name" label="Имя"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="user.surname" label="Фамилия"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12>
                                    <v-select
                                    v-model="user.id_spec"
                                    :items="specs"
                                    multiple
                                    item-text="name"
                                    item-value="id"
                                    label="Специальность"
                                    ></v-select>
                                </v-flex>
                             </v-layout>
                        </v-flex>
                        <v-btn color="primary" @click="addUser">Добавить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
           
		</v-layout>
  	</v-container>
</template>
<script>
import api from "Api";



export default {
    data() {
        return {
            
            user: {
                mail: '',
                pass: '',
                name: '',
                surname: '',
                id_spec: undefined
            },
            specs:[],
            token: this.$store.getters.getUser
            
            
        };
    },
    mounted(){
        this.getSpecs();
    },
    methods: {
        addUser(){
            const data = new FormData();
            data.append("token", this.token);
            data.append('mail', this.user.mail);
            data.append('pass', this.user.pass);
            data.append('name', this.user.name);
            data.append('surname', this.user.surname);
        
            this.user.id_spec.forEach(spec => {
                data.append('id_spec[]', spec);    
            });
            api
            .post("user/check_email", data)
            .then(response_mail => {
                if (response_mail.data.error == 0){
                    api
                    .post("admin/add_student", data) 
                    .then(response => { 
                            if(response.data.error == 0)
                            {
                                this.$router.push('/students/all');
                                this.$notify({
                                    group: 'loggedIn',
                                    type: 'success',
                                    text: 'Успешно Добавлен!'
                                });
                            }
                            if(response.data.error == 4)
                            {
                                this.$store.dispatch("logout");
                            }
                            if(response.data.error == 5)
                            {
                                
                                this.$router.push("/");
                            }
                        }) 
                        .catch(error => { 
                        console.log("error" + error); 
                    });
                }else{
                    this.$notify({
                        group: 'loggedIn',
                        type: 'error',
                        text: 'Такой email уже есть'
                    });
                }
            })
            
        },
        getSpecs(){
            const data = new FormData();
            data.append('token', this.token);
            api 
            .post("admin/get_specs", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.specs = response.data.potoks.filter(spec => spec.is_main == 1);
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    }
};
</script>