<template>	
  	<v-container fluid grid-list-xl py-0>
        <v-dialog
        v-model="dialog"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_admin"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
		<v-layout row wrap>
			<AdminsList @click_del="del" @click_edit="edit"></AdminsList>
            <AddAdmin :add="add" v-if="row_edit == -1"></AddAdmin>
            <EditAdmin @cancel_edit="edited_admin" :row_edit="row_edit" :add="add" v-else></EditAdmin>
			
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import AddAdmin from './AdminsWidgets/AddAdmin';
import AdminsList from './AdminsWidgets/AdminsList';
import EditAdmin from './AdminsWidgets/EditAdmin';
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            loader: true,
            dialog:false,
            row_edit: -1,
            del_row_id: 0,
            add: 
                {
                    name: '',
                    surname: '',
                    mail: '',
                    role:'',
                    pass:''
                },
        };
    },
    computed:{
        ...mapGetters(['getAdmins'])
        
        
    },
    methods: {
        edited_admin(){
            this.row_edit = -1;
        },
        delete_admin()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_admin", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.$store.dispatch("get_admins")
                        this.dialog = false
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        edit(id)
        {
           
            this.add.name = this.getAdmins[id].name
            this.add.surname = this.getAdmins[id].surname
            this.add.mail = this.getAdmins[id].mail
            this.row_edit = this.getAdmins[id].id
            this.add.role = this.getAdmins[id].role
        },
        del(id)
        {
         
            this.del_row_id = id
            this.dialog = true
        },
    },
    components: {
        VueGoodTable,
        AdminsList,
        AddAdmin,
        EditAdmin
    }
};
</script>
