<template>	
  	<v-container fluid grid-list-xl py-0>
        
        <AddStudentDialog @cancel_dialog="dialog_add_student_course=false" :dialog="dialog_add_student_course"></AddStudentDialog>

        <EndCourseDialog @cancel_dialog="dialog_end_course = false" :dialog="dialog_end_course"></EndCourseDialog>

        <EndAsksDialog @cancel_dialog="dialog_end_asks = false" :dialog="dialog_end_asks"></EndAsksDialog>

        <v-layout row wrap>

            <CourseTabs 
                :info="info" 
                @add_click="dialog_add_student_course = true"
                @end_click="dialog_end_course = true"
                @change_tab ="(val) => tab = val"
                ></CourseTabs>

            <LessonsList @add_click="add_visible=true" v-if="tab==1" :lessons="getLessons"></LessonsList>

            <AddLesson @decline_add="add_visible=false" v-if="add_visible && tab==1"> </AddLesson>

            <HomeWorks  v-if="tab == 2"></HomeWorks>
            <Logs v-if="tab == 3"></Logs>

            <Asks v-if="tab==4" :info="info"></Asks>

            <Skills @add_click="add_skill_visible=true" :add_skill="add_skill" @edit_click="(val)=>edit_row_skill = val" v-if="tab==5"></Skills>

            <AddSkill :info="info" :add_skill="add_skill" @decline_skill="decline_skill" v-if="add_skill_visible && tab==5"></AddSkill>
            
            <EditSkill :edit_row_skill="edit_row_skill" :add_skill="add_skill" @decline_skill="decline_skill" v-if="edit_row_skill != -1 && tab == 5"></EditSkill>
            <Attendance v-if="tab == 6"></Attendance>

        </v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import moment from 'moment'

import 'vue-good-table/dist/vue-good-table.css';
import { VueGoodTable } from 'vue-good-table';
import AddStudentDialog from './CourseWidgets/AddStudentDialog';
import EndCourseDialog from './CourseWidgets/EndCourseDialog';
import EndAsksDialog from './CourseWidgets/EndAsksDialog';
import CourseTabs from './CourseWidgets/CourseTabs';
import AddLesson from './CourseWidgets/AddLesson';
import LessonsList from './CourseWidgets/LessonsList';
import HomeWorks from './CourseWidgets/HomeWorks';
import Logs from './CourseWidgets/Logs';
import Asks from './CourseWidgets/Asks';
import Skills from './CourseWidgets/Skills';
import AddSkill from './CourseWidgets/AddSkill';
import EditSkill from './CourseWidgets/EditSkill';
import { mapActions, mapGetters } from 'vuex';
import Attendance from "./CourseWidgets/Attendance";

export default {
    components: {
        Attendance,
        VueGoodTable,
        AddStudentDialog,
        Logs,
        Asks,
        Skills,
        EndCourseDialog,
        AddLesson,
        EndAsksDialog,
        EditSkill,
        AddSkill,
        LessonsList,
        HomeWorks,
        CourseTabs
    },
    data() {
        return {
            add_skill:{
                name: '',
                level: -1,
            },
            edit_row_skill: -1,
            add_visible: false,
            dialog_add_student_course: false,
            add_skill_visible: false,
            skills: [],
            tab: 1,
            dialog_end_course: false,
            dialog_end_asks: false,
            myHTML: '',
            info: {},
            lessons:[],
            dates:[],
            times: [],
            id: this.$route.params.id,
            rows_homeworks: [],
        };
    },
    computed:{
        ...mapGetters(['getLessons', 'getAsks', 'getSkills', 'getLogs']),

    },
    watch: {
        '$route' (to, from) {
            this.id = this.$route.params.id;
            console.log(this.id);
            this.get_lessons(this.id);
            this.get_info();
            this.get_homeworks(this.id);
            this.get_logs(this.id);
            this.get_asks(this.id);
            this.get_skills(this.id);
            this.tab = 1;
        }
    },
    mounted() {
        this.get_lessons(this.id);
        this.get_info();
        this.get_homeworks(this.id);
        this.get_logs(this.id);
        this.get_asks(this.id);
        this.get_skills(this.id);
    },
    filters: {
        moment: function (date) {
            return moment(date).format('dd-mm-yyyy, HH:mm');
        }
    },
    methods: {
        ...mapActions(['get_lessons', 'get_homeworks', 'get_asks', 'get_logs', 'get_skills']),
        decline_skill(){
            this.add_skill.name = '';
            this.add_skill.level = -1;
            this.add_skill_visible = false;
            this.edit_row_skill = -1;
        },
        get_info()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            api 
            .post("admin/get_course", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.info = response.data.courses;
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },

    }
};
</script>
<style>
.tabs
{
	display:table;
	width: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
.button_container_end{
    float: right;
    display: flex;
}
.end_course, .end_asks{
    /* position: absolute;
    right: 5px; */
    float: right;;
    color: red;
}
.end_asks{
    top: 15px;
}
</style>