<template>	
  	<v-container fluid grid-list-xl py-0>
		<v-layout row wrap>
            <CoursesList v-if="this.$store.getters.getRole == 2" :add="add" @edit_click="(val)=>row_edit=val"></CoursesList>
			<AddCourse 
            :statuses="statuses"
            :statuses2="statuses2"
            @decline="decline"
            :add="add" 
            v-if="row_edit == -1"></AddCourse>
            <EditCourse 
            :statuses="statuses"
            :statuses2="statuses2"
            @decline="decline"
            :row_edit="row_edit"
            :add="add"  
            v-else></EditCourse>
            
			
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import CoursesList from './CoursesWidgets/CoursesList';
import EditCourse from './CoursesWidgets/EditCourse';
import AddCourse from './CoursesWidgets/AddCourse';
import { mapActions , mapGetters} from 'vuex';

export default {
    components: {
        VueGoodTable,
        CoursesList,
        AddCourse,
        EditCourse
    },
    data() {
        return {
            loader: true,
            
            croppaImg: undefined,
            croppaImg_edit: undefined,
            statuses: [{'value': '0', 'label':'Только направлению'},{'value': '1', 'label':'Всем'}],
            statuses2: [{'value': '0', 'label':'Открытая регистрация'},{'value': '1', 'label':'По подтверждению'}],
            add: 
                {
                    name: '',
                    description: '',
                    request: '',
                    for_all: '',
                    id_spec: '',
                    start: '',
                    min_mark: '',
                    teachers:[],
                    img_link: '',
                    potok: [],
					format: '',
					themes: ''
                },
            
            potoks: [],
            specs:[],
            row_edit: -1,
            
        };
    },
    mounted() {
        this.get_potoks();
        this.get_specs();
    },
    computed:{
    },
    methods: {
        ...mapActions(['get_potoks', 'get_specs']),
        edit_course()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_edit)
            data.append("name", this.add.name)
            data.append("description", this.add.description)
            data.append("request", this.add.request)
            data.append("start_date", this.add.start)
            data.append("for_all", this.add.request)
            data.append("id_spec", this.add.id_spec)
            data.append('min_mark', this.add.min_mark);
            data.append('format', this.add.format);
            data.append('themes', this.add.themes);

            this.add.teachers.forEach(function(element) {
                 data.append("teachers[]", element)
            });
            api
            .post("admin/edit_course", data)
            .then(response => {
             console.log(response.data)
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.get_courses()
                        this.decline()
                    }
                })
                .catch(error => {
                console.log("error" + error);
            });
        },
        
        
        edit(id)
        {
            this.add.description =  this.rows.filter(cur => cur.id == id)[0].description,
            this.add.min_mark =  this.rows.filter(cur => cur.id == id)[0].min_mark,
            this.add.request =  this.rows.filter(cur => cur.id == id)[0].request,
            this.add.for_all =  this.rows.filter(cur => cur.id == id)[0].for_all,
            this.add.name = this.rows.filter(cur => cur.id == id)[0].name,
            this.add.id_spec =  this.rows.filter(cur => cur.id == id)[0].id_spec,
            this.add.start =  this.rows.filter(cur => cur.id == id)[0].start_date,
            this.add.teachers = this.rows.filter(cur => cur.id == id)[0].teachers
            this.row_edit = this.rows.filter(cur => cur.id == id)[0].id
            this.add.img_link = this.rows.filter(cur => cur.id == id)[0].img_link;
        },
        del(id)
        {
        
            this.del_row_id = id
            this.dialog = true
        },
        decline()
        {
            
            this.add.description =  '';
            this.add.request =  '';
            this.add.for_all =  '';
            this.add.name = '';
            this.add.id_spec =  '';
            this.add.start =  '';
            this.add.teachers = [];
            this.add.min_mark = 0;
        },
        potok_info(id)
        {
            this.$router.push("/course/"+id);
        }
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>