<template>
    <v-container fluid grid-list-xl py-0 mt-4>
        <v-layout row wrap>
            <app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        <v-layout row wrap>
                            <v-flex xs12 sm12>
                                <h3 class="mt-2">Задание</h3>
                                <p v-html="lesson.homework">{{lesson.homework}}</p>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <h3 class="mt-2">Ответ на задание</h3>
                                <p v-html="lesson.answer">{{lesson.answer}}</p>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <h3 class="mt-2">Комментарий</h3>
                                <wysiwyg v-model="lesson.comment" />
                            </v-flex>
                            <v-flex xs12 sm12>
                                <h3 class="d-block">Оценка</h3>
                                <v-text-field type="number" v-model="lesson.result"></v-text-field>
                            </v-flex>
                        </v-layout>


                    </v-layout>
                    <v-layout row wrap class="mt-3">
                    <v-btn color="primary " @click='send_feedback'>Отправить</v-btn>
                    <v-btn color="warning " @click='go_to_course'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
            

        </v-layout>
  	</v-container>
</template>

<script>
import api from "Api";



export default {
    data() {
        return {
            
            id_course: this.$route.params.id_course,
            id: this.$route.params.id,
            lesson: {},
            comment: '',
            mark: '',
            
        };
    },
    mounted() {
        this.get_homework();
    },
    methods: {
        go_to_course(){
            this.$router.push('/course/'+this.id_course);

        },
        send_feedback(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_lesson', this.id);
            data.append('result', this.lesson.result);
            data.append("comment", this.lesson.comment);
            api
            .post('admin/send_homework_feedback_course', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$router.push('/course/'+this.id_course);
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно отправлено!'
                    })
                }else if (response.data.error == 4){
                    this.$store.dispatch('logout');
                }
            })
            
        },
        get_homework(id){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser)
            data.append('id_lesson', this.id);
            api
            .post('admin/get_lesson_info_course', data)
            .then(response => {
                if (response.data.error == 0){
                    this.lesson = response.data.lesson[0];
                }else if (response.data.error == 4){
                    this.$store.dispatch('logout');
                }
            })
            .catch(response =>{

            });
        }
    }
};
</script>