
<template>	
  	<v-container fluid grid-list-xl py-0>
        
        
        <NewStudentDialog @cancel_dialog="dialog_new_student=false" :dialog_new_student="dialog_new_student"></NewStudentDialog>
        <AddStudentDialog @cancel_dialog="dialog_add_student_course=false" :dialog_add_student_course="dialog_add_student_course"></AddStudentDialog>
        
                


		<v-layout row wrap>
            <app-card
				:heading="info.name"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
			>
            <div  class="tabs">
				<div @click="tab = 1" class="mytab" :class="{'tab_active':tab==1}" >
					Школа
				</div>
				<div  @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}">
					Участники
				</div>
				
			</div>
            <div>
                <v-btn color="primary " @click='dialog_new_student = true'>Добавить ученика</v-btn>
                <v-btn color="warning " @click='dialog_add_student_course = true'>Записать ученика</v-btn>
                <v-btn color="primary">
                    <download-csv
                    class="btn btn-default"
                    :data="json_data"
                    name="filename.csv">
                        Скачать данные ОШ
                    </download-csv>
                </v-btn>
            </div>
            </app-card>
            
			
            <SchoolCourses 
            v-if="tab==1"
             @edit="(val)=>edit(val)"
            ></SchoolCourses>
            <span style="width:100%;" v-if="tab == 1">
			
            <AddSchoolCourse @decline="decline" :add="add" v-if="row_course_edit == -1"></AddSchoolCourse>
            <EditSchoolCourse :row_course_edit="row_course_edit" @decline="decline" :add="add" v-else></EditSchoolCourse>

            
			</span>
            <!-- ученики -->
            <SchoolStudents 
            v-if="tab == 2"
            ></SchoolStudents>
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import NewStudentDialog from './PotokWidgets/NewStudentdialog';
import AddStudentDialog from './PotokWidgets/AddStudentDialog';
import SchoolCourses from './PotokWidgets/SchoolCourses';
import AddSchoolCourse from './PotokWidgets/AddSchoolCourse';
import EditSchoolCourse from './PotokWidgets/EditSchoolCourse';
import SchoolStudents from './PotokWidgets/SchoolStudents';
import JsonCSV from 'vue-json-csv'
import Vue from 'vue'

Vue.component('downloadCsv', JsonCSV);

export default {
    components: {
        VueGoodTable,
        AddSchoolCourse,
        EditSchoolCourse,
        NewStudentDialog,
        SchoolStudents,
        SchoolCourses,
        AddStudentDialog
    },
    data() {
        return {
            json_data: [],
            loader: true,
            info:{},
            tab: 1,
            new_student: {
                mail: '',
                pass: '',
                id_spec: ''
            },
            add: 
            {
                name: '',
                teacher: 0, 
                spec: 0,
                dates: [],
                times: [],
                teachers:[],
                place:''
            },
            id: this.$route.params.id,
            dialog:false,
            dialog_add_student_course: false,
            dialog_new_student: false,
            detail: false,
            
            row_edit: -1,
            row_course_edit: -1,
            
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Фамилия Имя',
                    field: 'name',
                    type: 'text',
                    
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            
            
            rows: [],
            rows_courses:[],
            rows_students: [],

        };
    },
    mounted() {
        this.get_potok()
        this.get_specs()
        this.get_school_courses(this.id)
        this.get_teachers()
        this.get_potok_students(this.id);
        this.get_students_data();
        // this.get_teachers()
    },
    computed:{
        ...mapGetters(['getSchoolCourses', 'getTeachers', 'getSpecs', 'getPotokStudents']),
        rows_courses_new(){
            let result = [];
            this.getSchoolCourses.forEach(course =>{
                result.push({
                    name: `${course.name} (${course.place})`,
                    id: course.id
                })
            })
            return result;
        },
    },
    methods: {
        ...mapActions(['get_school_courses', 'get_teachers', 'get_specs', 'get_potok_students']),

        get_students_data(){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            api
                .post("admin/get_users_data", data)
                .then(response => {
                    if(response.data.error == 0)
                    {
                        this.json_data = response.data.data;
                        for ( let i = 0; i < this.json_data.length; i++){
                            let res = '';
                            this.json_data[i].school_courses.forEach(function (item2) {
                                res = res + item2.place + ' ' + item2.name;
                            });
                            this.json_data[i].school_courses = res;
                        }
                    }
                })
                .catch(error => {

                });
        },
        
        
        
        
        
        
        edit(id)
        {
            var add_teacher = []

            this.getSchoolCourses[id].teachers.forEach(function(element) {
                add_teacher.push(element.id_admin)
            })
            this.add.teachers = add_teacher
            this.add.place = this.getSchoolCourses[id].place
            this.add.spec = this.getSchoolCourses[id].id_spec
            this.row_course_edit = this.getSchoolCourses[id].id

            var days = []
            var times = []
            this.getSchoolCourses[id].lessons.forEach(function(element) {
                var temp = element.start_date.split(' ')
                days.push(temp[0])
                times.push(temp[1])
            });
            this.add.dates = days
            this.add.times = times
        },
        get_potok()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            api 
            .post("admin/get_potok", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.info = response.data.info
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => {

            });
        },
        
        
        student_info(id){
            this.$router.push("/student/profile/"+id);
        },
        decline()
        {
            
            this.add.name = ''
            this.add.place = ''
            this.add.times = []
            this.add.dates = []
            this.add.teachers = []
            this.row_edit = -1
            this.row_course_edit = -1
            this.add.teacher = 0
            this.add.spec = 0
        },
        
        
        
    },
};
</script>
<style>
.app-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>