<template>	
  	<v-container fluid grid-list-xl py-0>
        <PotoksList @edit="(val)=>edit(val)"></PotoksList>
		<v-layout row wrap>
			
			<AddPotok @decline="decline" v-if="row_edit == -1" :add="add"></AddPotok>
            <EditPotok :row_edit="row_edit" @decline="decline" :add="add" v-else></EditPotok>
            
			
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import PotoksList from './PotoksWidgets/PotoksList';
import AddPotok from './PotoksWidgets/AddPotok';
import EditPotok from './PotoksWidgets/EditPotok';
import { mapActions, mapGetters } from 'vuex';
export default {
    components: {
        PotoksList,
        VueGoodTable,
        AddPotok,
        EditPotok
    },
    data() {
        return {
            loader: true,
            

            add: 
                {
                    name: '',
                    start: '',
                    reg_end:'',
                    status: ''
                },
            row_edit: -1,
            
            rows: []
        };
    },
    computed: {
        ...mapGetters(['getPotoks'])
    },
    methods: {
        ...mapActions(['get_potoks', 'get_teachers_specs']),
        
        
        
        edit(id)
        {
            this.add.name = this.getPotoks[id].name
            this.add.start = this.getPotoks[id].school_start
            this.add.reg_end = this.getPotoks[id].reg_end
            this.row_edit = this.getPotoks[id].id
            this.add.status = this.getPotoks[id].status
        },
        
        decline()
        {
            
            this.add.name = ''
            this.add.start = ''
            this.add.reg_end = ''
            this.add.status = ''
            this.row_edit = -1
        },
		get_info_for_redirect(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			api
					.post('admin/get_teachers_specs', data)
					.then(response => {
						if (response.data.error == 0){
							if (response.data.data.spec_admin.length > 0){
								this.$router.push(`/specialization/${response.data.data.spec_admin[0].id}`);
							}
							else{
								this.$router.push(`/project/${response.data.data.projects[0].id_project}`);
							}
						}
						else if (response.data.error == 4){
							this.$store.dispatch('logout');
						}
					})
		},
    },
	mounted() {
    	this.get_info_for_redirect();
	}
};
</script>
