<template>	
  	<v-container fluid grid-list-xl py-0>

        

        
        
        <DeleteSkillDialog
        :dialog_skill="dialog_skill"
        :curr_skill_del="curr_skill_del"
        @cancel_dialog="dialog_skill=false; get_project(id)"
        >
        </DeleteSkillDialog>

        <EndProjectDialog
        :dialog_end_project="dialog_end_project"
        @cancel_dialog="dialog_end_project=false"
        ></EndProjectDialog>
        

        <v-layout row wrap>
            <app-card
				:heading="getProject.name"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
			>
            <div  class="tabs">
				<div @click="tab = 1" class="mytab" :class="{'tab_active':tab==1}" >
					Люди
				</div>
                <div @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}" >
					Специализации
				</div>
				<div  @click="tab = 3" class="mytab" :class="{'tab_active':tab==3}">
					Заявки
				</div>
                <v-btn
                    v-if="getProject.status != 2 && getProject.status != 3"
                    color="error"
                    text
                    @click="dialog_end_project = true"
                    class="end_project"
                >Завершить проект</v-btn>

			</div>
            </app-card>
            
            <People
            v-if="tab==1"
            :students="getProjectStudents"
            @edit="(val)=>edit_student_ask(val)"
            ></People>
            <app-card
				heading="Редактировать"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="row_student_edit != -1"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        
                        <v-flex xs12 sm12>
                            <v-text-field v-model="add_student.role" label="Роль"></v-text-field>
                        </v-flex>
                        
                        <v-btn color="primary mt-3" @click='edit_student'>Редактировать</v-btn>
                        <v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>

            <app-card
				heading = "Специализации"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
                v-if="tab==2"
			>
             <v-expansion-panel
                expand
                >
                    <v-expansion-panel-content
                        v-for="(item, i) in getprojectSpecs"
                        :key="i"
                    >
                        <template v-slot:header>
                            <div>{{item.name}}</div>
                            <br>
                            <div></div>
                        </template>
                        <v-card>
                        <v-card-text class="">
                            <!-- <h3>{{item.name}}</h3> -->
                            
                            <label class="mt-2">Описание</label>
                            <wysiwyg v-model="item['description']" />

                            <v-btn
                            color="primary"
                            text
                            @click="edit_skill(item.id_project_spec, item['description'])"
                            class="mt-2"
                            >Изменить</v-btn>
                            <v-btn
                                color="danger"
                                text
                                @click="delete_skill_ask(); curr_skill_del = item.id_project_spec"
                                class=""
                            >Удалить</v-btn>
                        
                        </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>   
                <v-flex xs12 sm12>
                    <v-btn
                        color="primary"
                        text
                        @click="add_skill_visible = true"
                        class="mt-4 mx-0"
                    >Добавить</v-btn>
                </v-flex>
                <app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="add_skill_visible && tab==2"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        <v-flex xs12 sm12>
                            
                            <v-select
                            v-model="add_skill.id_spec"
                            :items="all_specs"
                            item-text="name"
                            item-value="id"
                            label="Направление"
                            ></v-select>
                        </v-flex>
                        <label class="mt-2">Описание</label>
                        <wysiwyg v-model="add_skill.description" />

                    </v-layout>
                    <v-layout row wrap class="mt-3">
                    <v-btn color="primary " @click='add_project_spec'>Добавить</v-btn>
                    <v-btn color="warning " @click='add_skill_visible=false; add_skill.description = ""; add_skill.id_spec = 0;'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
            </app-card>
            
            <Asks
            v-if="tab==3"

            ></Asks>

        </v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import moment from 'moment'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import EndProjectDialog from './Project/EndProjectDialog';
import DeleteSkillDialog from './Project/DeleteSkillDialog';
import EndAsksDialog from './Project/EndAsksDialog';
import People from './Project/People';
import Asks from './Project/Asks';
import { mapActions, mapGetters } from 'vuex';
export default {
    components: {
        VueGoodTable,
        EndAsksDialog,
        EndProjectDialog,
        DeleteSkillDialog,
        Asks,
        People,
    },
    data() {
        return {

            add_student: {
                role: '',
                feedback: ''  
            },
            add_skill: {
                id_spec: 0,
                description: '',
            },
            dialog_student:false,
            dialog_skill: false,
            dialog_end_project: false,
            dialog_ask: false,
            
            id: this.$route.params.id,
            rows_homeworks: [],
            asks: [],
            row_student_edit: -1,
            add_skill_visible: false,
            del_row_id: 0,
            curr_skill_del: -1,
            
            all_specs: [],
            token: this.$store.getters.getUser,
            tab: 1,
            
            

            
            
            
        };
    },
    computed:{
        ...mapGetters(['getProject', 'getprojectAsks', 'getProjectStudents', 'getprojectSpecs']),
        
        
    
    },
    watch: {
        '$route' (to, from) {
            this.id = this.$route.params.id;
            this.get_project(this.id);
            this.get_specs();
            this.tab = 1;
        }
    },
    mounted() {
        this.get_project(this.id);
        this.get_specs();
    },
    filters: {
        moment: function (date) {
            return moment(date).format('dd-mm-yyyy, HH:mm');
        }
    },
    methods: {
        ...mapActions(['get_project']),
        add_project_spec(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_spec', this.add_skill.id_spec);
            data.append('description', this.add_skill.description);
            data.append('id_project', this.id);
            api
            .post('/admin/add_project_spec', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                    this.get_project()
                    this.add_skill_visible = false

                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
            .catch(error => { 
                console.log("error" + error); 
            });
        },
        get_specs()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            api 
            .post("admin/get_specs", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.all_specs = response.data.potoks
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                
            });

        },
        
        
        
        
        
        
        
        
        edit_skill(id, desc){
          
            const data = new FormData();
            data.append('token', this.token);
            data.append('id_project_spec', id);
            data.append('description', desc);
            api
            .post('/admin/edit_project_skill', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно изменено!'
                    });
                    this.get_project();
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
        },
        edit_student(){
            const data = new FormData();
            data.append('token', this.token);
            data.append('id_role', this.row_student_edit);
            data.append('role', this.add_student.role);
            api
            .post('/admin/edit_project_role', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно изменено!'
                    });
                    this.get_project();
                    this.decline();

                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
            .catch(error => { 
                console.log("error" + error); 
            });
        },
        delete_skill_ask(){
            this.dialog_skill = true
        },
        edit_student_ask(id)
        {
            this.add_student.role =  this.getProjectStudents[id].role
            this.add_student.feedback = this.getProjectStudents[id].feedback
            this.row_student_edit = this.getProjectStudents[id].id_role
        },
        decline(){
            this.add_student.role = '';
            this.add_student.feedback = '';
            this.row_student_edit = -1;
        },
        

    }
};
</script>
<style>
.tabs
{
	display:table;
	width: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
.end_asks, .end_project{
    /* position: absolute;
    right: 5px;
    color: red; */
    float: right;
}

</style>