<template>	
  	<v-container fluid grid-list-xl py-0>
        
		<v-layout row wrap>
			<ProjectsList v-if="this.$store.getters.getRole == 2" @edit="(id) => edit(id)"></ProjectsList>
			<AddProject @add_proj="decline(); get_projects();" :add="add" v-if="row_edit == -1"></AddProject>
            <EditProject :add="add" @edit_proj="decline()" :row_edit="row_edit" v-else></EditProject>
			
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import ProjectsList from './Projects/ProjectsList';
import AddProject from './Projects/AddProject';
import EditProject from './Projects/EditProject';

export default {
    name: 'Projects',
    components: {
        VueGoodTable,
        ProjectsList,
        EditProject,
        AddProject
    },
    data() {
        return {
            loader: true,
            
            add: 
                {
                    name: '',
                    description: '',
                    id_spec: [],
                    id_mentor: undefined,
                    desc_spec: [],
                    status: undefined,
					date_start: undefined,
					date_end: undefined
                },
            
            row_edit: -1,
            
            rows: []
        };
    },
    
    mounted() {
        this.get_projects();
        this.get_specs();
        this.get_teachers();
    },
    computed: {
        ...mapGetters(['getProjects']),
        
    },
    methods: {
        ...mapActions(['get_projects', 'get_specs', 'get_teachers']),
        
       
        
        
        
        
        edit(id)
        {
            this.add.description =  this.getProjects[id].description,
            this.add.name = this.getProjects[id].name,
            this.add.status = this.getProjects[id].status
            this.row_edit = this.getProjects[id].id

        },
        
        decline()
        {
            
            this.add.description =  '';
            this.add.name = '';
            this.add.id_spec =  [];
            this.add.desc_spec = [];
        },
        
    },
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
.end_asks, .end_project{
    position: absolute;
    right: 5px;
    color: red;
}

</style>