<template>	
  	<v-container fluid grid-list-xl py-0>
          <v-dialog
        v-model="dialog_accept_student"
        max-width="400"
        >
            <v-card>
                <v-layout row wrap class="pa-4">
                    <v-flex xs12 sm12>
						<h5 style="text-align: center;">Добавить в организацию на специальность {{info.name}}?</h5>
					</v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                            color="success darken-1"
                            text
                            @click="accept_student"
                        >
                            Добавить
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                        color="primary"
                        text
                        @click="dialog_accept_student = false;"
                        >
                            Отмена
                        </v-btn>
                    </v-flex>
				
				</v-layout>
            </v-card>
        </v-dialog>
        <v-dialog
        v-model="dialog_decline_student"
        max-width="400"
        >
            <v-card>
                <v-layout row wrap class="pa-4">
                    <v-flex xs12 sm12>
						<h5 style="text-align: center;">Убрать человека из организации?</h5>
					</v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                            color="success darken-1"
                            text
                            @click="decline_student"
                        >
                            Да
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                        color="primary"
                        text
                        @click="dialog_decline_student = false;"
                        >
                            Нет
                        </v-btn>
                    </v-flex>
				
				</v-layout>
            </v-card>
        </v-dialog>
          <v-dialog
        v-model="dialog_new_student"
        max-width="400"
        >
            <v-card>
                <v-layout row wrap class="pa-4">
                    <v-flex xs12 sm12>
						<h5 style="text-align: center;">Добавить в организацию?</h5>
					</v-flex>
					<v-flex xs12 sm12>
						<v-select
						v-model="new_student.id_spec"
						:items="new_teach_specs"
						item-text="name"
						item-value="id"
						label="Специализация студента"
						></v-select>
					</v-flex>
                    <v-flex xs12 sm12>
                        <v-text-field v-model="new_student.mail" label="Почта"></v-text-field>

					</v-flex>
                    <v-flex xs12 sm12>
                        <v-text-field v-model="new_student.pass" label="Пароль для ученика"></v-text-field>
					</v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                            color="success darken-1"
                            text
                            @click="add_new_student"
                        >
                            Добавить
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                        color="primary"
                        text
                        @click="dialog_new_student = false;"
                        >
                            Отмена
                        </v-btn>
                    </v-flex>
				
				</v-layout>
            </v-card>
        </v-dialog>
        <v-dialog
        v-model="dialog_add_student_course"
        max-width="400"
        >
            <v-card>
                <v-layout row wrap class="pa-4">
                    <v-flex xs12 sm12>
						<h5 style="text-align: center;">Записать на курс?</h5>
					</v-flex>
					<v-flex xs12 sm12>
						<v-select
						v-model="new_student.id_spec"
						:items="new_teach_specs"
						item-text="name"
						item-value="id"
						label="Курс"
						></v-select>
					</v-flex>
                    <v-flex xs12 sm12>
                        <v-text-field v-model="new_student.mail" label="Почта"></v-text-field>

					</v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                            color="success darken-1"
                            text
                            @click="add_student_on_course"
                        >
                            Записать
                        </v-btn>
                    </v-flex>
                    <v-flex xs6 sm6>
                        <v-btn
                        color="primary"
                        text
                        @click="dialog_add_student_course = false;"
                        >
                            Отмена
                        </v-btn>
                    </v-flex>
				
				</v-layout>
            </v-card>
        </v-dialog>
        <v-dialog
        v-model="dialog"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_2"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-layout row wrap>
            <app-card
				:heading="`${info.name} (${info.place})`"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
                class="flex-card-content"
			>
            <div  class="tabs">
				<div @click="tab = 1" class="mytab" :class="{'tab_active':tab==1}" >
					Занятия
				</div>
                <div @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}" >
					Домашние задания
				</div>
				<div  @click="tab = 3" class="mytab" :class="{'tab_active':tab==3}">
					Ведомость
				</div>
				
			</div>
            <div>
                <v-btn color="primary " @click='dialog_new_student = true'>Добавить ученика</v-btn>
                <v-btn color="warning " @click='dialog_add_student_course = true'>Записать ученика</v-btn>
            </div>

            </app-card>
            <app-card
				heading = "Занятия"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
                v-if="tab == 1"
			>
                
                <v-expansion-panel
                expand
                >
                    <v-expansion-panel-content
                        v-for="(item, i) in lessons"
                        :key="i"
                    >
                        <template v-slot:header>
                            <div>Занятие {{i + 1}}: {{item.start_date | moment}}</div>
                            <br>
                            <div></div>
                        </template>
                        <v-card>
                        <v-card-text class="">
                            <h3>Материалы</h3>
                            <wysiwyg v-model="item['materials']" />
                            <h3 class="mt-1">Домашнее задание</h3>
                            <wysiwyg v-model="item['homework']" />
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <span class="d-block">Дата занятия</span>
                                    <v-date-picker v-model="dates[i]"></v-date-picker>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <span class="d-block">Время занятия</span>
                                    <v-time-picker v-model="times[i]" format="24hr"></v-time-picker>
                                </v-flex>
                            </v-layout>



                            <v-btn
                            color="primary"
                            text
                            @click="save(i)"
                            class="mt-2"
                            >Изменить</v-btn>
                            <v-btn
                                color="danger"
                                text
                                @click="delete_1(item['id'])"
                                class=""
                            >Удалить</v-btn>
                        
                        </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-btn
                    color="primary"
                    text
                    @click="add_visible = true"
                    class="mt-4 mx-0"
                >Добавить</v-btn>
            </app-card>
            <app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="add_visible && tab == 1"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        <label class="mt-2">Материалы</label>
                        <wysiwyg v-model="add.materials" />
                        <label class="mt-2">Домашнее задание</label>
                        <wysiwyg v-model="add.homework" />
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <span class="d-block">Дата занятия</span>
                                <v-date-picker v-model="add.date"></v-date-picker>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <span class="d-block">Время занятия</span>
                                <v-time-picker v-model="add.time" format="24hr"></v-time-picker>
                            </v-flex>
                        </v-layout>

                    </v-layout>
                    <v-layout row wrap class="mt-3">
                    <v-btn color="primary " @click='add_lesson'>Добавить</v-btn>
                    <v-btn color="warning " @click='decline'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
            <app-card
				heading="Домашние задания"
				:fullBlock="true"
				customClasses=" mt-3"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="tab == 2"
			>
			    <div  class="tabs">
                    <div  v-for="(lesson, key) in rows_homeworks" :key="key" @click="tab_homeworks = key" class="mytab" :class="{'tab_active':tab_homeworks==key}" >
                        Занятия {{key + 1}}
                    </div>
			    </div>
                <vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns_homeworks"
                :rows="rows_homeworks[tab_homeworks].homeworks"
                :paginate="true"
				:responsive="true"
				:lineNumbers="false"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                   

                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'action'">
                            <span class="icon-style ml-3" style="cursor:pointer" @click="homework_info(props.row.id)">
                                <i class="zmdi zmdi-eye"  ></i>
                            </span>
                           
                        </span>
                        <span v-else-if="props.column.field == 'result'">
                            {{props.row.result != null ? props.row.result : 'Не проверено'}}
                        </span>
                        <span v-else-if="props.column.field == 'id'">
                            {{props.row.originalIndex + 1}}
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                        
                    
                    
                    
                    </template>

                </vue-good-table>

                
            	
			</app-card>
            <app-card
				heading="Ведомость"
				:fullBlock="true"
				customClasses=" mt-3"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="tab == 3"
			>
			    
                <vue-good-table
                class="styled"
                styleClass="table"
                :columns="logs_columns"
                :rows="rows_logs"
                :paginate="true"
				:responsive="true"
				:lineNumbers="false"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                   

                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'fullname'">
                            {{props.row.fullname}}
                        </span>
                        <span v-else-if="props.column.field == 'result'">
                            {{getResultLog(props.row.results)}}
                        </span>
                        <span v-else-if="props.column.field == 'action'">
                            
                            <span class="icon-style" style="cursor:pointer" @click="curr_student_id=props.row.id; dialog_accept_student=true;">
                                <i class="zmdi zmdi-account-add"></i>
                            </span>
                            <span class="icon-style ml-3" style="cursor:pointer" @click="curr_student_id=props.row.id; dialog_decline_student=true">
                                <i class="zmdi zmdi-delete"  ></i>
                            </span>
                        </span>
                        <span v-else>
                            {{checkResult(props.row.results[parseInt(props.column.field)])}}
                        </span>
                        
                    
                    
                    
                    </template>

                </vue-good-table>

                
            	
			</app-card>

        </v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import moment from 'moment'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';



export default {
    data() {
        return {
            add:
            {
                date:'',
                time:'',
                homework:'',
                materials:''
            },
            new_student:{
                id_spec: '',
                mail: '',
                pass: '',
            },
            delete_id:0,
            add_visible: false,
            dialog_accept_student: false,
            curr_student_id: '',
            dialog:false,
            dialog_new_student: false,
            dialog_decline_student: false,
            dialog_add_student_course: false,
            tab: 1,
            tab_homeworks: 0,
            myHTML: '',
            rows_logs: [],
            info: {},
            lessons:[],
            dates:[],
            times: [],
            teach_specs: [],
            id_potok: this.$route.params.id,
            id: this.$route.params.id_course,
            rows_homeworks: [],
            columns_homeworks: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Имя ученика',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Результат',
                    field: 'result',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
        };
    },
    watch: {
        '$route' (to, from) {
            this.id_potok = this.$route.params.id,
            this.id = this.$route.params.id_course,
            this.get_potok();
            this.get_info();
            this.get_homeworks();
            this.get_logs();
            this.decline();
            this.tab = 1;
        }
    },
    mounted() {
        this.get_potok();
        this.get_info();
        this.get_homeworks();
        this.get_teachers_specs()
        this.get_logs();

    },
    filters: {
        moment: function (date) {
            return moment(date).format('dd-mm-yyyy, HH:mm');
        }
    },
    computed:{
        new_teach_specs(){
            let result = [];
            this.teach_specs.forEach(spec => {
                result.push({
                    name: `${spec.name} (${spec.place})`,
                    id: spec.id_course
                })
            });
            return result;
        },
        logs_columns(){
            let result = [];
            result.push({
                label: 'Имя',
                field: 'fullname',
                type: 'text'
            });
            for (let i = 0; i < this.dates.length; i++){
                result.push({
                    label: `Занятие ${i + 1}`,
                    field: `${i}`,
                    type: 'text'
                })
            }
            result.push({
                label: 'Результат',
                field: 'result',
                type: 'text'
            })
            result.push({
                label: 'Действия',
                field: 'action',
                type: 'text'
            })
            return result;
        },
    },
    
    methods: {

        checkResult(res){
            if (res){
                if (parseInt(res.result) || res.comment){
                    return res.result;
                }else{
                    return "Не проверено";
                }
            }else{
                return 'Не отправлено';
            }
        },
        accept_student(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_user', this.curr_student_id);
            data.append('id_spec', this.info.id_spec);
			api
			.post('admin/accept_student_school', data)
			.then(response => {
				if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно добавлен!'
                    });
                    this.dialog_accept_student = false;
                    this.get_logs();


				}else if (response.data.error == 4){
					this.$store.dispatch('logout');
				}
			})
        },
        decline_student(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_user', this.curr_student_id);
			api
			.post('admin/delete_student_school', data)
			.then(response => {
				if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно удален!'
                    });
                    this.dialog_decline_student = false;
                    this.get_logs();


				}else if (response.data.error == 4){
					this.$store.dispatch('logout');
				}
			})
        },
        getResultLog(logs){
            let result = 0;
            logs.forEach(log => {
                result += parseInt(log.result);
            });
            return result;
        },
        get_teachers_specs(){
			const data = new FormData();
			data.append('token', this.$store.getters.getUser);
			api
			.post('admin/get_teachers_specs', data)
			.then(response => {
				if (response.data.error == 0){
					this.teach_specs = response.data.data.specs;

				}else if (response.data.error == 4){
					this.$store.dispatch('logout');
				}
			})
        },
        add_student_on_course(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_spec', this.new_student.id_spec);
            data.append('mail', this.new_student.mail);
            api
            .post('admin/add_student_on_schoolcourse', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно записан!'
                    });
                    this.dialog_add_student_course = false;
                }else if (response.data.error == 3){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'error',
                        text: 'Нет такого студента'
                    });
                }
                else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
        add_new_student(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_spec', this.new_student.id_spec);
            data.append('mail', this.new_student.mail);
            data.append('pass', this.new_student.pass);
            api
            .post('admin/add_new_student', data)
            .then(response => {
                if (response.data.error == 0){
                    this.$notify({
                        group: 'loggedIn',
                        type: 'success',
                        text: 'Успешно добавлено!'
                    });
                    this.dialog_new_student = false;
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
        delete_2()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.delete_id)

            api 
            .post("admin/delete_school_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.get_potok()
                        this.decline()

                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
        get_logs(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_potok_spec', this.id);
            api
            .post('admin/get_spec_logs', data)
            .then(response => {
                if (response.data.error == 0){
                    this.rows_logs = response.data.logs;
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
        },
        delete_1(i)
        {
            this.delete_id = i
            this.dialog = true
        },
        homework_info(id){
            this.$router.push("/potok/"+this.id_potok+'/course/'+this.id+'/homework/'+id);
        },
        get_homeworks(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            data.append('id_potok_spec', this.id);
            api
            .post('admin/get_spec_homeworks', data)
            .then(response => {
                if (response.data.error == 0){
                    this.rows_homeworks = response.data.homeworks;
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }
            })
        },
        add_lesson(){
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            data.append("materials", this.add.materials)
            data.append("homework", this.add.homework)
            data.append("start_time", this.add.date+' ' + this.add.time)

            api 
            .post("admin/add_school_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.get_potok()
                        this.decline()

                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
        save(i)
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.lessons[i].id)
            data.append("materials", this.lessons[i].materials)
            data.append("homework", this.lessons[i].homework)
            data.append("start_time", this.dates[i]+' ' + this.times[i])

            api 
            .post("admin/update_school_lesson", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
        get_potok()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            api 
            .post("admin/get_school_lessons", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.lessons = response.data.info
                        var days = []
                        var times = []
                        
                        response.data.info.forEach(function(element) {
                            
                            var temp = element.start_date.split(' ')
                            days.push(temp[0])
                            times.push(temp[1])
                        });
                        this.dates = days
                        this.times = times
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
        get_info()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            api 
            .post("admin/get_school_course_info", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.info = response.data.info
                        
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
  
            });
        },
        decline()
        {
            this.add.materials = '',
            this.add.homework = '',
            this.add.time = '',
            this.add.date = '', 
            this.add_visible = false,
            this.delete_id = 0 
            this.dialog = false
        }

    },
    components: {
        VueGoodTable
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.flex-card-content  .app-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>