
<template>	
  	<v-container fluid grid-list-xl py-0>
        <v-dialog
        v-model="dialog"
        max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Удалить?</v-card-title>

                

                <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="primary"
                    text
                    @click="dialog = false"
                >
                    Нет
                </v-btn>

                <v-btn
                    color="danger darken-1"
                    text
                    @click="delete_spec"
                >
                    Да
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
		<v-layout row wrap>
			<app-card
				heading="Потоки"
				:fullBlock="true"
				customClasses=" mt-3"
				colClasses="xl12 lg12 md12 sm12 xs12"
			>
			    
                <vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns"
                :rows="rows"
                :paginate="true"
				:responsive="true"
				:lineNumbers="false"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 5,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                   

                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'is_main'">
                            {{props.row.is_main == 0?'Дополнительный': 'Основной' }}
                           
                        </span>
                        <span v-else-if="props.column.field == 'action'">
                            
                            <span class="icon-style" style="cursor:pointer" @click="edit(props.row.originalIndex)">
                                <i class="zmdi" :class="'zmdi-edit'"></i>
                            </span>
                            <span class="icon-style ml-3" style="cursor:pointer" @click="del(props.row.id)">
                                <i class="zmdi zmdi-delete"  ></i>
                            </span>
                            <span class="icon-style ml-3" style="cursor:pointer" @click="spec_info(props.row.id)">
                                <i class="zmdi zmdi-eye"  ></i>
                            </span>
                           
                        </span>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                        
                    
                    
                    
                    </template>

                </vue-good-table>

                
            	
			</app-card>
			<app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="row_edit == -1"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        <v-flex xs12 sm6>
                            <v-text-field v-model="add.name" label="Название"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                            
                            <v-select
                            v-model="add.is_main"
                            :items="statuses"
                            item-text="label"
                            item-value="value"
                            label="Статус"
                            ></v-select>
                        </v-flex>
                        
                        <v-btn color="primary mt-3" @click='add_spec'>Добавить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
           
            <app-card
				heading="Редактировать"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-else
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        <v-flex xs12 sm6>
                            <v-text-field v-model="add.name" label="Название"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                            
                            <v-select
                            v-model="add.is_main"
                            :items="statuses"
                            item-text="label"
                            item-value="value"
                            label="Статус"
                            ></v-select>
                        </v-flex>

                        <v-btn color="primary mt-3" @click='edit_spec'>Редактировать</v-btn>
                        <v-btn color="warning mt-3" @click='decline'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
			
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
    data() {
        return {
            loader: true,
            statuses: [{'value': '0', 'label':'Дополнительный'},{'value': '1', 'label':'Основной'}],

            add: 
                {
                    name: '',
                    is_main: '' 
                },
            dialog:false,
            detail: false,
            row_edit: -1,
            del_row_id: 0,
            columns: [
                {
                    label: 'Id',
                    field: 'id',
                },
                {
                    label: 'Название',
                    field: 'name',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Основной',
                    field: 'is_main',
                    type: 'text',
                
                },
                {
                    label: 'действия',
                    field: 'action',
                    type: 'text',
                
                },
            ],
            rows: []
        };
    },
    mounted() {
        this.get_specs()
    },
    methods: {
        add_spec()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("name", this.add.name)
            data.append("is_main", this.add.is_main)

            api 
            .post("admin/add_spec", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.get_specs()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        edit_spec()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.row_edit)
            data.append("name", this.add.name)
            data.append("is_main", this.add.is_main)
            api 
            .post("admin/edit_spec", data) 
            .then(response => { 
             console.log(response.data)
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.get_specs()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        delete_spec()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.del_row_id)
            api 
            .post("admin/delete_spec", data) 
            .then(response => { 
              
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно удалено!'
                        });
                        this.get_specs()
                        this.dialog = false
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        get_specs()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            api 
            .post("admin/get_specs", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.rows = response.data.potoks
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });

        },
        edit(id)
        {
            
            this.add.name = this.rows[id].name
            
            this.row_edit = this.rows[id].id
            this.add.is_main = this.rows[id].is_main
        },
        del(id)
        {
        
            this.del_row_id = id
            this.dialog = true
        },
        decline()
        {
            
            this.add.name = ''
            this.add.is_main = ''
            this.row_edit = -1
        },
        spec_info(id)
        {
            this.$router.push("/specialization/"+id);
        }
    },
    components: {
        VueGoodTable
    }
};
</script>

