
<template>	
  	<v-container fluid grid-list-xl py-0>
        
        
        


		<v-layout row wrap>
            <app-card
				:heading="info.name"
				customClasses=" mt-3"
				colClasses="md12 sm12 xs12"
			>
            <div  class="tabs">
				<div @click="tab = 1" class="mytab" :class="{'tab_active':tab==1}" >
					Навыки
				</div>
				<div  @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}">
					Преподаватели
				</div>
				<div  @click="tab = 3" class="mytab" :class="{'tab_active':tab==3}">
					Члены направления
				</div>
			</div>
            </app-card>
            
			
            <Skills v-if="tab == 1" @edit="(id) => edit(id)"></Skills>
            <span style="width:100%;" v-if="tab == 1">
			<app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="row_skill_edit == -1"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        <v-flex xs12 sm12>
                            <v-text-field v-model="add.name" label="Название"></v-text-field>
                        </v-flex>
                        
                        
                        <v-btn color="primary " @click='add_skill'>Добавить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
           
            <app-card
				heading="Редактировать"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-else
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        <v-flex xs12 sm12>
                            <v-text-field v-model="add.name" label="Название"></v-text-field>
                        </v-flex>
                        

                        <v-btn color="primary" @click='edit_skill'>Редактировать</v-btn>
                        <v-btn color="warning" @click='decline'>Отменить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
			</span>

            <Teachers v-if="tab == 2"></Teachers>
            <span style="width:100%;" v-if="tab == 2">
			<app-card
				heading="Добавить"
				:fullBlock="true" 
				customClasses="mb-30"
				colClasses="xl12 lg12 md12 sm12 xs12"
                v-if="row_skill_edit == -1"
			>
                <v-container grid-list-xl fluid pt-0>
                    <v-layout row wrap>
                        
                        
                        <v-flex xs12 sm12>
                            
                            <v-select
                            v-model="add.teacher"
                            :items="getTeachers"
                            item-text="name"
                            item-value="id"
                            label="Учитель"
                            ></v-select>
                        </v-flex>
                        
                        <v-btn color="primary " @click='add_teacher'>Добавить</v-btn>
                    </v-layout>
                </v-container>
			</app-card>
           
            
			</span>
            <Students v-if="tab == 3"></Students>
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';
import { mapActions, mapGetters } from 'vuex';
import Skills from './Specialization/Skills'
import Teachers from './Specialization/Teachers'
import Students from './Specialization/Students'

export default {
    data() {
        return {
            loader: true,
            info:{},
            tab: 1,
            add: 
            {
                name: '',
                teacher: 0
            },
            id: this.$route.params.id,
            dialog:false,
            detail: false,
            curr_student_id: -1,
            row_edit: -1,
            row_skill_edit: -1,
            
            
            
            
            rows: [],
        };
    },
    computed:{
        ...mapGetters(['getSpecSkills', 'getTeachers'])
    },
    mounted() {
        this.get_spec()
        this.get_skills(this.id)
        this.get_teachers()
        // this.get_students_by_spec();

        // this.get_teachers()
    },
    methods: {
        ...mapActions(['get_skills', 'get_teachers']),
        
        add_skill()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("name", this.add.name)
            data.append("id_spec", this.id)

            api 
            .post("admin/add_skill", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.get_skills()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
    
        add_teacher()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id_teacher", this.add.teacher)
            data.append("id", this.id)

            api 
            .post("admin/add_teacher_to_spec", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно добавлено!'
                        });
                        this.get_teachers_by_spec()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        edit_skill()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("name", this.add.name)
            data.append("id", this.row_skill_edit)
            api 
            .post("admin/edit_skill", data) 
            .then(response => {
                    if(response.data.error == 0)
                    {
                        this.$notify({
                            group: 'loggedIn',
                            type: 'success',
                            text: 'Успешно изменено!'
                        });
                        this.get_skills()
                        this.decline()
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        
        
        get_spec()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            data.append("id", this.id)
            api 
            .post("admin/get_spec", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.info = response.data.info
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                console.log("error" + error); 
            });
        },
        edit(id)
        {
            this.add.name = this.getSpecSkills[id].name
            this.row_skill_edit = this.getSpecSkills[id].id
        },
        
        
        decline()
        {
            
            this.add.name = ''
            this.row_edit = -1
            this.row_skill_edit = -1
            this.add.teacher = 0
        },
    },
    components: {
        VueGoodTable,
        Skills,
        Teachers,
		Students
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
</style>