<template>
	<div>
		<v-container fluid grid-list-xl pt-0 mt-3>
			<v-layout row wrap>
				<v-flex xs12 md12 lg12 sm12 class="col-height-auto">
					<div>
						
						<div class="profile-body">
							<v-layout row wrap>
								<v-flex xs12 md5 lg4 class="col-height-auto">
									<app-card
										customClasses="mb-30"
									>
										<UserInfo></UserInfo>
									</app-card>
									<app-card
										heading="Умения студента"
										customClasses="mb-30"
										
										:fullBlock="true"
									>
										<education></education>
									</app-card>
									<!-- <app-card
										heading="Проекты"
										customClasses="mb-30"
										
										:fullBlock="true"
									>
										<ProjectsList></ProjectsList>
									</app-card>
									<app-card
										heading="Завершенные курсы"
										customClasses="mb-30"
										:fullBlock="true"
									>
										<EndCourses></EndCourses>
									</app-card> -->
								</v-flex>
								<v-flex xs12 md7 lg8>
									
									<user-activity ></user-activity>
								</v-flex>
							</v-layout>
						</div>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>


import Education from "Components/Widgets/Education";
import UserInfo from "Components/Widgets/UserInfo";
import UserActivity from "Components/Widgets/UserActivity";
import Hw from "Components/Widgets/HW";
import Materials from "Components/Widgets/Materials";
import EducationVue from '../../components/Widgets/Education.vue';
import ProjectsList from '../../components/Widgets/ProjectsList.vue';
import EndCourses from '../../components/Widgets/EndCourses.vue';

export default {
  components: {

    Education,
    UserInfo,
	UserActivity,
	Hw,
	Materials,
	ProjectsList,
	EndCourses
  },
  data() {
		return {
			hw_choose: 0,
		}
	},
	methods: {
		hw_change: function (value) {
			console.log(3)
			this.hw_choose= value
		}
	}
};


</script>
