<template>	
  	<v-container fluid grid-list-xl py-0>
		<v-layout row wrap>
			<app-card
				heading="Ученики"
				:fullBlock="true"
				customClasses=" mt-3"
				colClasses="xl12 lg12 md12 sm12 xs12"
			>
			    <div  class="tabs mb-3 ml-3">
                    <div @click="tab = 2" class="mytab" :class="{'tab_active':tab==2}" >
                        Студенты
                    </div>
                    <div @click="tab = 3" class="mytab" :class="{'tab_active':tab==3}" >
                        Выпускники
                    </div>
			    </div>
                <vue-good-table
                class="styled"
                styleClass="table"
                :columns="columns_students"
                :rows="curr_students(tab)"
                :paginate="true"
				:responsive="true"
				:lineNumbers="false"
                :search-options="{
                    enabled: true,
                    skipDiacritics: true,
                    placeholder: 'Поиск по таблице',
                }"
                :pagination-options="{
                    enabled: true,
                    
                    perPage: 10,
                    position: 'bottom',
                    nextLabel: 'вперед',
                    prevLabel: 'назад',
                    rowsPerPageLabel: 'Страниц',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'Все',
                }"
                >
                   

                    <template slot="table-row" slot-scope="props">
                        <span v-if="props.column.field == 'action'">
                            <span class="icon-style ml-3" style="cursor:pointer" @click="student_info(props.row.id)">
                                <i class="zmdi zmdi-eye"  ></i>
                            </span>
                           
                        </span>
                        <!-- <span v-else-if="props.column.field == 'id_potok' && props.row.school.length" style="cursor:pointer" @click="potok_info(props.row.id_potok)">
                            {{props.row.school[0].id_potok}}
                        </span> -->
                        <span v-else-if="props.column.field == 'id_potok' && !props.row.school.length">
                            {{'-'}}
                        </span>
                        <span v-else-if="props.column.field == 'id_spec'" style="cursor:pointer">
                            <v-select
                            v-model="props.row.specializations"
                            :items="specs"
                            multiple
                            item-text="name"
                            item-value="id"
                            @change="change_spec(props.row.id, props.row.specializations)"
                            ></v-select>
                        </span>
                        <span v-else-if="props.column.field == 'skills'">
                            {{getSkills(props.row.skills)}}
                        </span>
                        <span v-else-if="props.column.field == 'status'">
                            <!-- {{props.row.role == 2 ? 'Ученик' : 'Выпускник'}} -->
                            <v-select
                            v-model="props.row.role"
                            :items="[{name: 'Выпускник', id: '3'}, {name: 'Ученик', id: '2'}, {name: 'Никто', id: '0'}]"
                            item-text="name"
                            item-value="id"
                            @change="change_role(props.row.id, props.row.role)"
                            ></v-select>
                        </span>
                        <router-link v-else-if="props.column.field == 'fullname'" style="color: #5d92f4; cursor: pointer;" :to="'/student/profile/'+props.row.id">
                            {{props.formattedRow[props.column.field]}}
                        </router-link>
                        <span v-else>
                            {{props.formattedRow[props.column.field]}}
                        </span>
                        
                    
                    
                    
                    </template>

                </vue-good-table>

                
            	
			</app-card>
		</v-layout>
  	</v-container>
</template>

<script>
import api from "Api";
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table';

export default {
    data() {
        return {
            loader: true,
            statuses: [{'value': '0', 'label':'школа'},{'value': '1', 'label':'текущий'},{'value': '2', 'label':'выпуск'}],

            add: 
                {
                    name: '',
                    start: '',
                    reg_end:'',
                    status: ''
                },
            tab: 2,
            specs: [],
            dialog:false,
            rows_students: [],
            columns_students: [
                {
                    label: 'Id',
                    field: 'id',
                    
                },
                {
                    label: 'Имя',
                    field: 'fullname',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Вконтакте',
                    field: 'vk_link',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Основная специальность',
                    field: 'id_spec',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Скиллы',
                    field: 'skills',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Телефон',
                    field: 'phone',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                {
                    label: 'Почта',
                    field: 'mail',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }

                },
                {
                    label: 'Год вступления',
                    field: 'start_year',
                    type: 'int',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                    
                
                },
                {
                    label: 'Статус',
                    field: 'status',
                    type: 'text',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        placeholder: 'фильтр', // placeholder for filter input
                    }
                
                },
                // {
                //     label: 'действия',
                //     field: 'action',
                //     type: 'text',
                
                // },
            ],
            rows: []
        };
    },
    mounted() {
        this.get_students();
        this.get_specs();
    },
    methods: {
        curr_students(status){
            return this.rows_students.filter(student => student.role == status);
        },
        get_specs()
        {
            const data = new FormData()
            data.append("token", this.$store.getters.getUser)
            api 
            .post("admin/get_specs", data) 
            .then(response => { 
                    if(response.data.error == 0)
                    {
                        this.specs = response.data.potoks
                    }
                    if(response.data.error == 4)
                    {
                        this.$store.dispatch("logout");
                    }
                    if(response.data.error == 5)
                    {
                        
                        this.$router.push("/");
                    }
                }) 
                .catch(error => { 
                
            });

        },
        change_spec(id_user, specs){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            data.append("id_user", id_user);
            specs.forEach(spec => {
                data.append("id_spec[]", spec);
            });
            api
            .post('admin/change_student_spec', data)
            .then(response => {
                if (response.data.error == 0){
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");
                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
        getSkills(skills){
            let result = '';
            if (skills.length == 0){
                return 'Нет полученных скиллов';
            }else if (skills.length == 1){
                let level = '';
                if (skills[0].level == 1){
                    level = 'Junior';
                } else if (skills[0].level == 2){
                    level = 'Middle';
                }else if (skills[0].level == 3){
                    level = 'Senior';
                }
                return `${skills[0].name} (${level})`;
            }
            let level = '';
            skills.forEach(potok => {
                if (potok.level == 1){
                    level = 'Junior';
                } else if (potok.level == 2){
                    level = 'Middle';
                }else if (potok.level == 3){
                    level = 'Senior';
                }
                result += `${potok.name} (${level}), `
            });
            return result;

        },
        change_role(id, role){
            const data = new FormData();
            data.append("token", this.$store.getters.getUser);
            data.append("id_user", id);
            data.append("role", role);
            api
            .post('admin/change_student_role', data)
            .then(response => {
                if (response.data.error == 0){
                }else if (response.data.error == 4){
                    this.$store.dispatch("logout");

                }else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
        },
        get_students(){
            const data = new FormData();
            data.append('token', this.$store.getters.getUser);
            api
            .post('admin/get_all_students', data)
            .then(response => {
                if (response.data.error == 0){
                    this.rows_students = response.data.students;
                }else if (response.data.error == 4) {
                    this.$store.dispatch("logout");
                }
                else if (response.data.error == 5){
                    this.$router.push("/");

                }
            })
            
        },
        spec_info(id){
            this.$router.push('/specialization/'+id);
        },
        potok_info(id)
        {
            this.$router.push("/potok/"+id);
        },
        student_info(id){
            this.$router.push("/student/profile/"+id);
        }
    },
    components: {
        VueGoodTable
    }
};
</script>
<style>
.tabs
{
	display:table;
	widows: 100%;
}
.mytab
{
	float: left;

	font-size: 14px;
    font-weight: 500;
    line-height: normal;
	color: black;
	padding: 5px 10px;
	-webkit-transition: background 0.3s ease;;
	-moz-transition: background 0.3s ease;;
	-o-transition: background 0.3s ease;;
	transition: background 0.3s ease;
	cursor: pointer;
}
.mytab:hover
{
	background-color: #eee;
}
.tab_active
{
	border-bottom: 3px solid #b3d4fc
}
.end_asks, .end_project{
    position: absolute;
    right: 5px;
    color: red;
}

</style>